.admin_nav_calenadar input {
    width: 220px;
    border: 1px solid #5d60a6;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.admin_nav_calenadar {
    float: left;
    margin-right: 20px;
}

.nav_painted {
    float: left;
    padding-right: 30px;
    display: inline-block;
}

.nav_painted a:first-child {
    padding: 5px 30px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.nav_painted a, .nav_today a {
    display: inline-block;
    padding: 5px 25px;
    background: #337ab7;
    color: #fff!important;
    text-decoration: none;
    cursor: pointer;
}

.nav_painted a:last-child {
    padding: 5px 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#dishes {
    margin-bottom: 100px;
}

footer {
    margin-bottom: 50px;
}
