<div class="cover">
    <div class="top">
        <p>{{ item.title }}</p>
    </div>
    <div class="middle">
        <h2>{{ item.desc|nl2br }}</h2>
    </div>
    <div class="bottom">
        <p>{{ item.startdate }}</p>
    </div>
</div>
