{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/partners/">Партнеры</a></li>
    <li>{% if item.isNew %}Добавление партнера{% else %}Редактирование партнера{% endif %}</li>
</ol>
{% endblock %}

{% block header %}
{% if item.isNew %}Добавление партнера{% else %}Редактирование партнера{% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/partners/save">

        {% if not item.isNew %}
        <input type="hidden" name="id" value="{{ item.Pk }}">
        {% endif %}


        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Заголовок</label>
            <div class="col-sm-6">
                <input type="title" class="form-control" id="title" name="title" placeholder="Заголовок" value="{{ item.title }}">
            </div>
        </div>

        <div class="form-group">
            <label for="url" class="col-sm-3 control-label">URL</label>
            <div class="col-sm-6">
                <input type="url" class="form-control" id="url" name="url" placeholder="http://www.google.com" value="{{ item.url }}">
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox col-sm-offset-3 col-sm-3">
                <label>
                    <input type="checkbox" name="published" value="1" {{ item.published ? 'checked' }}> Опубликовать
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="text" class="col-sm-3 control-label">Описание</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="text" name="text" placeholder="Описание" value="{{ item.text }}">
            </div>
        </div>

        <div class="form-group">
            <label for="weight" class="col-sm-3 control-label">Вес</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="weight" name="weight" value="{{ item.weight ?: 0 }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Логотип</label>
            <div class="col-sm-6">
                <p class="form-control-static">
                    {% if item.logo %}
                <p class="image">
                    <img src="{{ item.logo }}" class="img-responsive" style="max-width: 200px; max-height: 200px;">
                    <a href="#" class="item-image-delete" data-id="{{ item.Pk }}"><i class="glyphicon glyphicon-remove text-danger"></i>&nbsp;</a>
                </p>
                {% endif %}
                </p>
                {{ element('file', 'logo', {'text':'Выберите файл'}) }}
            </div>
        </div>

        <footer class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">{% if item.isNew %}Создать{% else %}Сохранить{% endif %}</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
            {% if not item.isNew %}<a href="/admin/partners/delete/?id={{ item.Pk }}" class="confirmable"><button type="button" class="btn btn-danger">Удалить</button></a>{% endif %}
        </footer>

    </form>
</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {

        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });

        $('.item-image-delete').click( function () {
            var $this = $(this);
            var id = $this.attr('data-id');
            if (0 != id) {
                $.post('/admin/partners/deleteImage.json', {"id":id}, function (r) {
                    if (r.result) {
                        $this.parent().remove();
                    }
                });
            }
            return false;
        });

    });
</script>
{% endblock %}