{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li>События</li>
</ol>
{% endblock %}

{% block toolbar %}
<a class="btn btn-primary" href="/admin/events/edit?id=new"><i class="glyphicon glyphicon-plus-sign"></i> Добавить событие</a>
{% endblock %}

{% block header %}
События
{% endblock %}

{% block content %}
<div class="row">
    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>URL</th>
            <th>Дата проведения</th>
            <th>Главное фото</th>
            <th>Превью</th>
            <th>Опубликовано</th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.Pk }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.url }}</td>
            <td>{{ item.rundate | date('d-m-Y') }}</td>
            <td>{% if item.image %}<i class="glyphicon glyphicon-picture"></i>{% endif %}</td>
            <td>{% if item.sm_image %}<i class="glyphicon glyphicon-picture"></i>{% endif %}</td>
            <td>{% if item.published %}<i class="glyphicon glyphicon-ok"></i>{% endif %}</td>
            <td style="white-space: nowrap">
                <a class="btn btn-primary btn-sm" href="/admin/events/edit/?id={{ item.Pk }}"><i class="glyphicon glyphicon-edit"></i></a>
                <a class="btn btn-danger btn-sm confirmable" href="/admin/events/delete/?id={{ item.Pk }}"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function() {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });
    });
</script>
{% endblock %}