{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/Pages/">Страницы</a></li>
    <li>{% if item.isNew %}Добавление страницы{% else %}Редактирование страницы{% endif %}</li>
</ol>
{% endblock %}

{% block header %}
{% if item.isNew %}Добавление страницы{% else %}Редактирование страницы{% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/pages/save">

        {% if not item.isNew %}
        <input type="hidden" name="id" value="{{item.Pk}}">
        {% endif %}

        <div class="form-group">
            <div class="checkbox col-sm-offset-2 col-sm-1 control-label">
                <label>
                    <input type="checkbox" name="published" value="1" {{ item.published ? 'checked' }}> Опубликовать
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Заголовок страницы</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" placeholder="Заголовок страницы" value="{{item.title}}">
            </div>
        </div>

        <div class="form-group">
            <label for="topic" class="col-sm-2 control-label">Родительская страница</label>
            <div class="col-sm-10">
                {% if item.isNew %}
                {% if item.parent %}
                {{ selectTreeByModel("App\\Modules\\Pages\\Models\\\Page", item.parent.Pk, {"null":true}, {"name":"parent", "class": "form-control"}) }}
                {% else %}
                {{ selectTreeByModel("App\\Modules\\Pages\\Models\\\Page", 0, {"null":true}, {"name":"parent", "class": "form-control"}) }}
                {% endif %}
                {% else %}
                {{ selectTreeByModel("App\\Modules\\Pages\\Models\\\Page", item.__prt, {"null":true, 'disabled':[item.__id]}, {"name":"parent", "class": "form-control"}) }}
                {% endif %}
                <i></i>
            </div>
        </div>


        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">URL</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" class="form-control" id="url" name="url" placeholder="URL" value="{{item.url}}">
                    <div class="input-group-addon">.html</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="text" class="col-sm-2 control-label">Текст страницы</label>
            <div class="col-sm-10">
                <t4:editor name="text">{{item.text}}</t4:editor>
            </div>
        </div>

        <footer class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{% if item.isNew %}Создать{% else %}Сохранить{% endif %}</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
            {% if not item.isNew %}<a href="/admin/pages/delete/?id={{item.Pk}}" class="confirmable"><button type="button" class="btn btn-danger">Удалить</button></a>{% endif %}
        </footer>

    </form>
</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });
    });
</script>
{% endblock %}
