{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li>Кафе</li>
</ol>
{% endblock %}

{% block toolbar %}
<div class="nav_painted">
    <a id="previous-date"><<</a>
    <a id="today" data-curr-date="{{'now'|date('Y-m-d')}}">Сегодня</a>
    <a id="next-date">>></a>
</div>
<div class="admin_nav_calenadar">
    <label><img src="{{ asset('/Layouts/assets/images/calendar.png') }}" alt="" width="20" /><input type="text" id="datepicker" name="cookingdate"></label>
</div>
<a class="btn btn-primary" id="newDish" href="/admin/dishes/edit?id=new&date={{ currentDate|date('Y-m-d') }}"><i class="glyphicon glyphicon-plus-sign"></i> Добавить блюдо</a>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".copy-dishes">Копировать блюда</button>
{% endblock %}

{% block header %}
Меню на <span id="currDate" data-curr-date="{{ currentDate }}">{{ currentDate|localizeddate('short', 'none', 'ru', null, 'dd.LL.Y')|upper }}</span>
{% endblock %}

{% block content %}
<div class="modal fade copy-dishes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Копировать блюдо на <span id="modal-title-date">{{ currentDate | date('d.m.Y') }}</span>
                    <span class="admin_nav_calenadar">
                        <label><img src="{{ asset('/Layouts/assets/images/calendar.png') }}" alt="" width="20" /><input type="text" id="datepickerCopy" name="copy_date"></label>
                    </span>
                </h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="copyForm">Копировать</button>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <div id="dishes">
        <table class="table table-striped table-hover">
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Категория</th>
                <th>Дата</th>
                <th>Комментарий</th>
                <th></th>
            </tr>
            {% for item in items %}
            <tr>
                <td><a href="/admin/dishes/edit/?id={{ item.Pk }}">{{item.Pk}}</a></td>
                <td>{{ item.title }}</td>
                <td>{{ item.category.title }}</td>
                <td>{{ item.cookingdate|date('d-m-Y') }}</td>
                <td>{{ item.comment|raw }}</td>
                <td style="white-space: nowrap">
                    <a class="btn btn-primary btn-sm" href="/admin/dishes/edit/?id={{item.Pk}}"><i class="glyphicon glyphicon-edit"></i></a>
                    <a class="btn btn-danger btn-sm confirmable" href="/admin/dishes/delete/?id={{item.Pk}}"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="pull-right">
            <a class="btn btn-default" target="_blank" href="/admin/dishes/printMenu/?date={{currentDate}}">Распечатать</a>
        </div>
    </div>
</div>
{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function() {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });

        function getDishesByDate(date) {
            var dd = date.getDate();
            var mm = date.getMonth() + 1;
            var year = date.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            $.get('/admin/dishes/GetDishesByDate.html', { date: year + '-' + mm + '-' + dd}, function(data) {
                $('#dishes').html('').append(data);
                $('#currDate').html(dd + '.' + mm + '.' + year);
                $("#currDate").data("currDate", year + '-' + mm + '-' + dd);
                $("#modal-title-date").html(dd + "." + mm + "." + year);
                $('#newDish').attr('href', function(i, val) {
                    return val.slice(0, val.indexOf("&") + 1) + 'date=' + year + '-' + mm + '-' + dd;
                });
            }, "html");
        }

        var nowDate = new Date();
        var currDate = new Date();
        var days = ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'];
        var monthNames = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];

        $('#next-date, #previous-date, #today').on('click', function(e) {
            if (e.target.id == 'next-date') {
                currDate.setDate(currDate.getDate() + 1);
            } else if (e.target.id == 'previous-date') {
                currDate.setDate(currDate.getDate() - 1);
            } else if (e.target.id == 'today') {
                currDate = new Date($('#today').data('currDate'));
            }
            getDishesByDate(currDate);
        });

        $( "#datepicker" ).datepicker({
            dateFormat: 'yy-mm-dd',
            dayNamesMin: days,
            monthNames: monthNames,
            firstDay: 1,
            onSelect: function(e) {
                currDate = new Date($(this).val());
                getDishesByDate(currDate);
            }
        });

        $( "#datepickerCopy" ).datepicker({
            dateFormat: 'yy-mm-dd',
            dayNamesMin: days,
            monthNames: monthNames,
            firstDay: 1,
            onSelect: function(e) {
                copyDate = new Date($(this).val());
                var dd = copyDate.getDate();
                var mm = copyDate.getMonth() + 1;
                var year = copyDate.getFullYear();

                if (dd < 10) {
                    dd = '0' + dd;
                }

                if (mm < 10) {
                    mm = '0' + mm;
                }
                $.get('/admin/dishes/GetDishesToCopy.html', { copyDate: year + '-' + mm + '-' + dd, date: $("#currDate").data('currDate') }, function(data) {
                    $('.modal-body').html('').append(data);
                }, "html");
            }
        });

        $(".copy-dishes").on("show.bs.modal", function() {
            copyDate = new Date($("#currDate").data('currDate'));
            copyDate.setDate(copyDate.getDate() - 7);

            var dd = copyDate.getDate();
            var mm = copyDate.getMonth() + 1;
            var year = copyDate.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            $.get('/admin/dishes/GetDishesToCopy.html', { copyDate: year + '-' + mm + '-' + dd, date: $("#currDate").data('currDate') }, function(data) {
                $('.modal-body').html('').append(data);
            }, "html");

            $("#datepickerCopy").datepicker( "setDate", copyDate );
        });
    });
</script>
{% endblock %}