{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/dishes/">Кафе</a></li>
    <li>{% if item.isNew %}Добавление блюда{% else %}Редактирование блюда{% endif %}</li>
</ol>
{% endblock %}

{% block header %}
{% if item.isNew %}Добавление блюда{% else %}Редактирование блюда{% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/dishes/save">

        {% if not item.isNew %}
        <input type="hidden" name="id" value="{{item.Pk}}">
        {% endif %}

        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Название блюда</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="title" name="title" value="{{item.title}}" required>
            </div>
        </div>

        <div class="form-group">
            <label for="datepicker" class="col-sm-2 control-label" style="padding:0;"><img src="{{ asset('/Layouts/assets/images/calendar.png') }}" alt="" width="20" /></label>
            <div class="col-sm-3">
                <input type="text" id="datepicker" name="cookingdate" value="{{ item.cookingdate ?: 'now'|date('Y-m-d') }}" required>
            </div>
        </div>

        <div class="form-group">
            <label for="categories" class="col-sm-2 control-label">Категория</label>
            <div class="col-sm-3">
                <select name="category" class="form-control">
                    {% if item.isNew or item.category.Pk == 0 %}
                    <option value="0" selected>---</option>
                    {% endif %}
                    {% for category in categories %}
                    <option value="{{category.Pk}}" {{category.Pk == item.category.Pk ? 'selected'}}>{{category.title}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="comment" class="col-sm-2 control-label">Комментарий</label>
            <div class="col-sm-10">
                <t4:editor name="comment">{{item.comment}}</t4:editor>
            </div>
        </div>

        <footer class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">{% if item.isNew %}Создать{% else %}Сохранить{% endif %}</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
            {% if not item.isNew %}<a href="/admin/dishes/delete/?id={{item.Pk}}" class="confirmable"><button type="button" class="btn btn-danger">Удалить</button></a>{% endif %}
        </footer>

    </form>
</div>

{% endblock %}

{% block pagescript %}
<script src="{{ asset('/Layouts/assets/js/jquery-ui.min.js')}}"></script>

<script type="text/javascript">
    $(function () {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });

        var days = ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'];
        var monthNames = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];


        $( "#datepicker" ).datepicker({
            dateFormat: 'yy-mm-dd',
            dayNamesMin: days,
            monthNames: monthNames,
            firstDay: 1
        });
    });
</script>
{% endblock %}