<form id="copyForm" method="post" action="/admin/dishes/copy?date={{ currentDate }}">
    <table class="table table-striped table-hover">
        <tr>
            <th></th>
            <th>Название</th>
            <th>Категория</th>
            <th>Дата</th>
            <th>Комментарий</th>
        </tr>
        {% for item in items %}
        <input type="hidden" name="items[{{ loop.index0 }}][id]" value="{{ item.Pk }}">
        <tr>
            <td><input type="checkbox" name="items[{{ loop.index0 }}][copy]" value="1"></td>
            <td>{{ item.title }}</td>
            <td>{{ item.category.title }}</td>
            <td>{{ item.cookingdate|date('d-m-Y') }}</td>
            <td>{{ item.comment|raw }}</td>
        </tr>
        {% endfor %}
    </table>
</form>