<table class="table table-striped table-hover">
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Категория</th>
        <th>Дата</th>
        <th>Комментарий</th>
        <th></th>
    </tr>
    {% for item in items %}
    <tr>
        <td><a href="/admin/dishes/edit/?id={{ item.Pk }}">{{item.Pk}}</a></td>
        <td>{{ item.title }}</td>
        <td>{{ item.category.title }}</td>
        <td>{{ item.cookingdate|date('d-m-Y') }}</td>
        <td>{{ item.comment|raw }}</td>
        <td style="white-space: nowrap">
            <a class="btn btn-primary btn-sm" href="/admin/dishes/edit/?id={{item.Pk}}"><i class="glyphicon glyphicon-edit"></i></a>
            <a class="btn btn-danger btn-sm confirmable" href="/admin/dishes/delete/?id={{item.Pk}}"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="pull-right">
    <a class="btn btn-default" target="_blank" href="/admin/dishes/printMenu/?date={{currentDate}}">Распечатать</a>
</div>