<!DOCTYPE html>

<html>
<head>

    <title>Меню на сегодня</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    {{ publish('/Modules/Dishes/Templates/Admin/assets') }}
    <link href="{{ asset('/Modules/Dishes/Templates/Admin/assets/css/print_menu.css') }}" rel='stylesheet' type='text/css'/>
</head>

<body>

<div class="wrap">
    <h1>Меню на сегодня</h1>
    <img src="{{ asset('/Layouts/assets/images/sila_cafe_logo.jpg') }}">
    <ul class="ul">
        <li class="f_ul">
            <h3>Салаты:</h3>
            <ol>
                {% for dish in items[2] %}
                <li>{{ dish.title }}</li>
                {% endfor %}
            </ol>
        </li>
        <li class="f_ul">
            <h3>Супы:</h3>
            <ol>
                {% for dish in items[3] %}
                <li>{{ dish.title}}</li>
                {% endfor %}
            </ol>
        </li>
        <li class="f_ul">
            <h3>Вторые блюда:</h3>
            <ol>
                {% for dish in items[4] %}
                <li>{{ dish.title}}</li>
                {% endfor %}
            </ol>
        </li>
        <li class="f_ul">
            <h3>Десерты/Сэндвичи:</h3>
            <ol>
                {% for dish in items[6] %}
                <li>{{ dish.title}}</li>
                {% endfor %}
            </ol>
        </li>
    </ul>

    <h2>Алгоритм цен</h2>
    <div class="_alg">
        <ul class="alg">
            <li>Салаты<span>110 рублей</span></li>
            <li>Супы<span>120 рублей</span></li>
            <li>Горячие блюда<span>150 рублей</span></li>
            <li>Ролл<span>100 рублей</span></li>
            <li>Сэндвич<span>120 рублей</span></li>
            <li>Каша<span>89 рублей</span></li>
            <li>Блины<span>60 рублей</span></li>
            <li>Печенье<span>60 рублей</span></li>
            <li>Сырники / блинчики с начинкой<span>89 рублей</span></li>
            <li>Десерты<span>120 рублей</span></li>
            <li>Цитрусовый лимонад<span>50 рублей</span></li>
        </ul>
    </div>
    <h2 class="three">Три блюда за 350 рублей</h2>
    <span>(Салат + суп + второе блюдо + напиток)</span>
</div>

</body>
</html>

