<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="/admin"><i class="glyphicon glyphicon-home"></i> Админ-панель</a>
            </li>
            <li>
                <a href="/admin/entries"><i class="glyphicon glyphicon-calendar"></i> Расписание</a>
            </li>
            <li>
                <a href="/admin/lessons"><i class="glyphicon glyphicon-option-vertical"></i> Занятия</a>
            </li>
            <li>
                <a href="/admin/teachers"><i class="glyphicon glyphicon-user"></i> Тренера</a>
            </li>
            <li>
                <a href="/admin/rooms"><i class="glyphicon glyphicon-th-large"></i> Залы</a>
            </li>
            <li>
                <a href="/admin/statuses"><i class="glyphicon glyphicon-check"></i> Статусы</a>
            </li>

            {% for module in app.modules %}
                {% for item in module.adminMenu %}
                {% if item.url %}
                <li>
                    <a href="{{item.url}}">{{item.icon|raw}} {{item.title}}</a>
                </li>
                {% else %}
                <li>
                    <a href="#"> {{item.icon|raw}} {{item.title}}<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% for sub in item.sub %}
                        <li>
                            <a href="{{sub.url}}">{{sub.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
            {% endfor %}
            {% endfor %}
            <li>
            <a href="/admin/blocks"><i class="glyphicon glyphicon-th-large"></i> Блоки</a>
            </li>
            <!--
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="panels-wells.html">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="buttons.html">Buttons</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            -->
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->