<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Админ-панель T4</title>

    {{ publish('/Layouts/Admin/assets') }}

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('/Layouts/Admin/assets/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{{ asset('/Layouts/Admin/assets/bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('/Layouts/Admin/assets/dist/css/sb-admin-2.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ asset('/Layouts/Admin/assets/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <link href="https://code.jquery.com/ui/1.11.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link href="{{ asset('/Layouts/Admin/assets/css/admin.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin">Админ-панель T4</a>
                <a class="navbar-brand" href="/" target="_blank">На сайт</a>
            </div>
            <!-- /.navbar-header -->

            {% include 'Admin/__toplinks.html' %}

            {% include 'Admin/__sidebar.html' %}

        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block breadcrumbs %}{% endblock %}
                        <div class="pull-right">{% block toolbar %}{% endblock %}</div>
                        <h1>{% block header %}{% endblock %}</h1>
                        <hr>
                        {% block content %}{% endblock %}
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    {{ publishJs() }}

    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset('/Layouts/Admin/assets//bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('/Layouts/Admin/assets//dist/js/sb-admin-2.js') }}"></script>

    {% block pagescript %}{% endblock %}


</body>

</html>
