{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li>Сообщения</li>
</ol>
{% endblock %}

{% block header %}
Сообщения
{% endblock %}

{% block content %}
<table class="table table-striped table-hover">
    <tr>
        <th>Время отправки</th>
        <th>Имя</th>
        <th>Телефон</th>
        <th>email</th>
        <th>Занятие</th>
        <th>Статус</th>
        <th>Из соц. сетей</th>
        <th></th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.q_datetime|date('d.m.Y H:i')}}</td>
        <td>{{item.name}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.email}}</td>
        <td>{{item.entry.lesson.title}}, {{item.entry.teacher.firstName}} {{item.entry.teacher.lastName}}, {{item.entry.room.title}}, {{item.entry.timeStart|date('d-m-Y')}} {{item.entry.timeStart|date('H:i')}} - {{item.entry.timeEnd|date('H:i')}}</td>
        <td>
            
            {% if item.status == 1 %}
                Обработана
            {% else %}
                <a class="btn btn-success btn-sm confirmable" href="/admin/contact/status/?id={{item.Pk}}">Обработать</a>
            {% endif %}

        </td>
        <td>{% if item.fromsocnet %}<i class="glyphicon glyphicon-ok"></i>{% endif %}</td>
        <td>
            <a class="btn btn-danger btn-sm confirmable" href="/admin/contact/delete/?id={{item.Pk}}"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="row">{{widget('pager', {'total': itemsCount, 'size': pageSize, 'active': activePage, 'url': '/admin/contact/?page=%d'})}}</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });
    });
</script>
{% endblock %}
