{% extends "Index.html" %}

{% block title %}
<title>Занятия</title>
{% endblock %}

{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %}

{% block content  %}
<section class="content classes">
    <div class="_header">
        <p>Занятия</p>
    </div>
    <div class="_content text-center">
        <div class="container">
            <div class="classes_wrap">
                <div class="row">
                {% for item in items %}
                <div class="col-md-3">
                    <a href="/practices/{{ item.url }}">
                        <div class="c_wrap">
                            <div class="img" style="background: url({{ item.sm_image }}) no-repeat 50% 50% / cover;"></div>
                            <div class="over">
                                <h2>{{ item.title }}</h2>
                                <p>подробнее</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% if loop.index % 4 == 0 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock  %}
