{% extends "Index.html" %}

{% block title %}
<title>{{ practice.title }}</title>
{% endblock %}

{% block meta %}
<meta name="description" content="{{ practice.description }}" />
<meta name="keywords" content="{{ practice.keywords }}" />
{% endblock %}

{% block content  %}
<section class="content classes">
    <div class="_header">
        <p>{{ practice.title }}</p>
    </div>
    <div class="_content">
        <div class="container">
            <div class="classes_wrap text-justify">
                {% if practice.image %}
                    <div class="content-image">
                        <img src="{{ practice.image }}" alt="" title="" >
                    </div>
                {% endif %}
                {{ practice.text|raw}}
            </div>
        </div>
    </div>
</section>
{% endblock  %}