{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li>Инструкторы</li>
</ol>
{% endblock %}

{% block toolbar %}
<a class="btn btn-primary" href="/admin/trainers/edit?id=new"><i class="glyphicon glyphicon-plus-sign"></i> Добавить инструктора</a>
{% endblock %}

{% block header %}
Инструкторы
{% endblock %}

{% block content %}
<div class="row">
    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>ФИО</th>
            <th>Возраст</th>
            <th>Телефон</th>
            <th>E-mail</th>
            <th>Фото</th>
            <th>Превью</th>
            <th>Видео</th>
            <th>Ведет практики</th>
            <th>Вес</th>
            <th>Опубликован</th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.Pk }}</td>
            <td>{{ item.getFullName }}</td>
            <td>{{ item.getAge }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.email }}</td>
            <td>{% if item.photo %}<i class="glyphicon glyphicon-picture"></i>{% endif %}</td>
            <td>{% if item.sm_photo %}<i class="glyphicon glyphicon-picture"></i>{% endif %}</td>
            <td>{% if item.video %}<i class="glyphicon glyphicon-facetime-video"></i>{% endif %}</td>
            <td>
                {% for practice in item.practices %}
                {{ practice.title }}{{ not loop.last ? ',' }}
                {% endfor %}
            </td>
            <td>{{ item.weight }}</td>
            <td>{% if item.published %}<i class="glyphicon glyphicon-ok"></i>{% endif %}</td>
            <td style="white-space: nowrap">
                <a class="btn btn-primary btn-sm" href="/admin/trainers/edit/?id={{item.Pk}}"><i class="glyphicon glyphicon-edit"></i></a>
                <a class="btn btn-danger btn-sm confirmable" href="/admin/trainers/delete/?id={{item.Pk}}"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function() {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });
    });
</script>
{% endblock %}