{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/trainers/">Инструкторы</a></li>
    <li>{% if item.isNew %}Добавление инструктора{% else %}Редактирование инструктора{% endif %}</li>
</ol>
{% endblock %}

{% block header %}
{% if item.isNew %}Добавление инструктора{% else %}Редактирование инструктора{% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/trainers/save">

        {% if not item.isNew %}
        <input type="hidden" name="id" value="{{ item.Pk }}">
        {% endif %}

        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Фамилия</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Фамилия" value="{{ item.lastName }}">
            </div>
        </div>

        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Имя</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Имя" value="{{ item.firstName }}">
            </div>
        </div>

        <div class="form-group">
            <label for="patronymic" class="col-sm-3 control-label">Отчество</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="patronymic" name="patronymic" placeholder="Отчество" value="{{ item.patronymic }}">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">E-mail</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="email" name="email" value="{{ item.email }}">
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-3 control-label">Телефон</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="phone" name="phone" value="{{ item.phone }}">
            </div>
        </div>

        <div class="form-group">
            <label for="birthday" class="col-sm-3 control-label">Дата рождения</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="birthday" name="birthday" value="{{ item.birthday }}">
            </div>
        </div>

        <div class="form-group">
            <label for="weight" class="col-sm-3 control-label">Вес</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="weight" name="weight" value="{{ item.weight ?: 0 }}">
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox col-sm-offset-3 col-sm-3">
                <label>
                    <input type="checkbox" name="published" value="1" {{ item.published ? 'checked' }}> Опубликовать
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="url" class="col-sm-3 control-label">URL</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control" id="url" name="url" placeholder="URL" value="{{ item.url }}">
                    <div class="input-group-addon">.html</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="text" class="col-sm-3 control-label">Описание</label>
            <div class="col-sm-6">
                <t4:editor name="text">{{ item.text }}</t4:editor>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Фотография</label>
            <div class="col-sm-6">
                <p class="form-control-static">
                    {% if item.photo %}
                    <p class="image">
                        <img src="{{ item.photo }}" class="img-responsive" style="max-width: 200px; max-height: 200px;">
                        <a href="#" class="item-image-delete" data-id="{{ item.Pk }}"><i class="glyphicon glyphicon-remove text-danger"></i>&nbsp;</a>
                    </p>
                    {% endif %}
                </p>
                {{ element('file', 'photo', {'text':'Выберите файл'}) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Превью</label>
            <div class="col-sm-6">
                <p class="form-control-static">
                    {% if item.sm_photo %}
                <p class="image">
                    <img src="{{ item.sm_photo }}" class="img-responsive" style="max-width: 200px; max-height: 200px;">
                    <a href="#" class="item-sm-image-delete" data-id="{{ item.Pk }}"><i class="glyphicon glyphicon-remove text-danger"></i>&nbsp;</a>
                </p>
                {% endif %}
                </p>
                {{ element('file', 'sm_photo', {'text':'Выберите файл'}) }}
            </div>
        </div>

        <div class="form-group">
            <label for="video" class="col-sm-3 control-label">Видео</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="video" name="video" placeholder="https://www.youtube.com/" value="{{ item.video }}">
            </div>
        </div>

        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">META description</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="description" name="description" placeholder="" value="{{ item.description }}">
            </div>
        </div>

        <div class="form-group">
            <label for="keywords" class="col-sm-3 control-label">META keywords</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="" value="{{ item.keywords }}">
            </div>
        </div>

        <div class="form-group">
            <ul class="list-unstyled col-sm-offset-3 col-sm-3">
                {% for practice in practices %}
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="practices[]" value="{{ practice.Pk }}" {{ item.practices.existsElement(practice.toArray()) ? 'checked' }}> {{ practice.title }}
                        </label>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <footer class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">{% if item.isNew %}Создать{% else %}Сохранить{% endif %}</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
            {% if not item.isNew %}<a href="/admin/trainers/delete/?id={{ item.Pk }}" class="confirmable"><button type="button" class="btn btn-danger">Удалить</button></a>{% endif %}
        </footer>

    </form>
</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {

        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });

        $('.item-image-delete').click( function () {
            var $this = $(this);
            var id = $this.attr('data-id');
            if (0 != id) {
                $.post('/admin/trainers/deleteImage.json', {"id":id}, function (r) {
                    if (r.result) {
                        $this.parent().remove();
                    }
                });
            }
            return false;
        });

        $('.item-sm-image-delete').click( function () {
            var $this = $(this);
            var id = $this.attr('data-id');
            if (0 != id) {
                $.post('/admin/trainers/deleteSmallImage.json', {"id":id}, function (r) {
                    if (r.result) {
                        $this.parent().remove();
                    }
                });
            }
            return false;
        });

    });
</script>
{% endblock %}