<!DOCTYPE html>
<html xmlns:t4="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Админ - sila</title>

    {{ publishCss() }}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <h2 class="text-center">Вход на сайт</h2>

    {% for error in errors %}
    <div class="alert alert-danger" role="alert">{{error.message}}</div>
    {% endfor %}

    {% if not app.user %}
    {% include '__login.form.html' %}
    {% else %}
    Вы уже вошли как {{app.user.email}} <a href="/user/logout.html"><button class="btn btn-default">Выйти</button></a>
    {% endif %}
    <footer>
        <p>&copy; Sila</p>
    </footer>
</div>

{{ publishJs() }}

</body>
</html>