{% extends "Index.html" %}

{% block title %}
<title>Акции</title>
{% endblock %}

{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %}

{% block content %}
<section class="content promo">
    <div class="_header">
        <p>Акции</p>
    </div>
    <div class="_content">
        <div class="container">
            <div class="promo_wrap">
                {% for item in items %}
                <article id="{{ item.Pk }}" class="promo_item">
                    <div class="promo_item_wrapper">
                        <div class="promo_item_image">
                            <img src="{{ item.image }}" alt="{{ item.title }}" width="100%">
                        </div>
                        <div class="promo_item_content">
                            <div class="promo_item_title">{{ item.title }}</div>
                            <div class="promo_content_sep"></div>
                            <div class="promo_item_text">{{ item.text|raw }}</div>
                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}