{% extends "Index.html" %}

{% block title %}
<title>Наши друзья</title>
{% endblock %}

{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %}

{% block content %}
<section class="content promo">
    <div class="_header">
        <p>Наши друзья</p>
    </div>
    <div class="_content">
        <div class="container">
            <div class="partners_wrap">
                {% for item in items %}
                <figure class="partners_item">
                    {% if item.title %}
                    <h4 class="text-center"><strong>{{ item.title }}</strong></h4>
                    {% endif %}
                    <p><img src="{{ item.logo }}" alt="{{ item.text }}" width="100%"></p>
                    <figcaption>
                        {% if item.text %}
                        <p>{{ item.text }}</p>
                        {% endif %}
                        {% if item.url %}
                        <p><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></p>
                        {% endif %}
                    </figcaption>
                </figure>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}