{% extends 'Admin/Blank.html' %}


{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/entries/">Расписание</a></li>
</ol>
{% endblock %}

{% block header %}
Расписание на <span id="currDate" data-curr-date="{{ currentDate }}">{{ currentDate|localizeddate('short', 'none', 'ru', null, 'dd.LL.Y')|upper }}</span>
{% endblock %}

{% block toolbar %}
<div class="nav_painted">
    <a id="previous-date"><<</a>
    <a id="today" data-curr-date="{{'now'|date('Y-m-d')}}">Сегодня</a>
    <a id="next-date">>></a>
</div>
<div class="admin_nav_calenadar">
    <label><img src="{{ asset('/Layouts/assets/images/calendar.png') }}" alt="" width="20" /><input type="text" id="datepicker" name="start_date"></label>
</div>
<a class="btn btn-primary" id="newEntry" href="/admin/entries/edit?id=new&date={{ currentDate|date('Y-m-d') }}"><i class="glyphicon glyphicon-plus-sign"></i> Добавить в расписание</a>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".copy-entries">Копировать занятие</button>
{% endblock %}

{% block content %}
<div class="modal fade copy-entries" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Копировать занятие на <span id="modal-title-date">{{ currentDate | date('d.m.Y') }}</span>
                    <span class="admin_nav_calenadar">
                        <label><img src="{{ asset('/Layouts/assets/images/calendar.png') }}" alt="" width="20" /><input type="text" id="datepickerCopy" name="copy_date"></label>
                    </span>
                </h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" form="copyForm">Копировать</button>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <div id="entries">
        <form method="post" action="/admin/entries/publish?date={{ currentDate }}">
            <table class="table table-striped table-hover">
                <tr class="info">
                    <th>#</th>
                    <th>Дата и время</th>
                    <th>Занятие</th>
                    <th>Инструктор</th>
                    <th>Зал</th>
                    <th>Статус</th>
                    <th>Опубликовано
                        <br>
                        <label>
                            Выбрать все <input type="checkbox" name="checkAll" value="1">
                        </label>
                    </th>
                    <th></th>
                </tr>
                {% for item in items %}
                <input type="hidden" name="items[{{ loop.index0 }}][id]" value="{{ item.Pk }}">
                <tr>
                    <td>{{ item.Pk }}</td>
                    <td>{{ item.timeStart|date('d-m-Y') }} {{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}</td>
                    <td>{{ item.lesson.title }}</td>
                    <td>{{ item.teacher.lastName }} {{ item.teacher.firstName }} {{ item.teacher.patronymic }}</td>
                    <td>{{ item.room.title }}</td>
                    <td>{{ item.status.title }}</td>
                    <td>
                        <label>
                            <input class="published" type="checkbox" name="items[{{ loop.index0 }}][published]" value="1" {{ item.published ? 'checked' }}>
                            {{ item.published ? 'Опубликовано' : 'Не опубликовано' }}
                        </label>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/admin/entries/edit/?id={{item.Pk}}"><i class="glyphicon glyphicon-edit"></i></a>
                        <a class="btn btn-danger btn-sm confirmable" href="/admin/entries/delete/?id={{item.Pk}}"><i class="glyphicon glyphicon-remove"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <button class="btn btn-primary pull-right" type="submit">Сохранить</button>
        </form>
        <div class="pull-left">
            <a class="btn btn-default" target="_blank" href="/admin/entries/printEntries/?date={{currentDate}}">Распечатать расписание на неделю</a>
        </div>
    </div>
</div>
{% endblock %}

{% block pagescript %}
<script src="{{ asset('/Layouts/assets/js/jquery-ui.min.js')}}"></script>

<script type="text/javascript">
    $(function () {
        $("#entries").on("click", "a.confirmable", function() {
            return confirm('Вы уверены?');
        });

        function getEntriesByDate(date) {
            var dd = date.getDate();
            var mm = date.getMonth() + 1;
            var year = date.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            $.get('/admin/entries/GetEntriesByDate.html', { date: year + '-' + mm + '-' + dd }, function(data) {
                $('#entries').html('').append(data);
                $('#currDate').html(dd + '.' + mm + '.' + year);
                $("#currDate").data("currDate", year + '-' + mm + '-' + dd);
                $("#modal-title-date").html(dd + "." + mm + "." + year);
                $('#newEntry').attr('href', function(i, val) {
                   return val.slice(0, val.indexOf("&") + 1) + 'date=' + year + '-' + mm + '-' + dd;
                });
            }, "html");
        }

        var currDate = new Date("{{ currentDate|date('Y-m-d') }}");
        var days = ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'];
        var monthNames = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];

        $('#next-date, #previous-date, #today').on('click', function(e) {
            if (e.target.id == 'next-date') {
                currDate.setDate(currDate.getDate() + 1);
            } else if (e.target.id == 'previous-date') {
                currDate.setDate(currDate.getDate() - 1);
            } else if (e.target.id == 'today') {
                currDate = new Date($('#today').data('currDate'));
            }
            getEntriesByDate(currDate);
        });

        $( "#datepicker" ).datepicker({
            dateFormat: 'yy-mm-dd',
            dayNamesMin: days,
            monthNames: monthNames,
            firstDay: 1,
            onSelect: function(e) {
                currDate = new Date($(this).val());
                getEntriesByDate(currDate);
            }
        });

        $( "#datepickerCopy" ).datepicker({
            dateFormat: 'yy-mm-dd',
            dayNamesMin: days,
            monthNames: monthNames,
            firstDay: 1,
            onSelect: function(e) {
                copyDate = new Date($(this).val());
                var dd = copyDate.getDate();
                var mm = copyDate.getMonth() + 1;
                var year = copyDate.getFullYear();

                if (dd < 10) {
                    dd = '0' + dd;
                }

                if (mm < 10) {
                    mm = '0' + mm;
                }
                $.get('/admin/entries/GetEntriesToCopy.html', { copyDate: year + '-' + mm + '-' + dd, date: $("#currDate").data('currDate') }, function(data) {
                    $('.modal-body').html('').append(data);
                }, "html");
            }
        });

        $("#entries").on("change", "input[name=checkAll]", function() {
            $("input.published").prop("checked", $(this).is(":checked"));
        });

        $(".copy-entries").on("show.bs.modal", function() {
            copyDate = new Date($("#currDate").data('currDate'));
            copyDate.setDate(copyDate.getDate() - 7);

            var dd = copyDate.getDate();
            var mm = copyDate.getMonth() + 1;
            var year = copyDate.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            $.get('/admin/entries/GetEntriesToCopy.html', { copyDate: year + '-' + mm + '-' + dd, date: $("#currDate").data('currDate') }, function(data) {
                $('.modal-body').html('').append(data);
            }, "html");

            $("#datepickerCopy").datepicker( "setDate", copyDate );
        });

    });
</script>
{% endblock %}


