{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/entries/">Расписание</a></li>
    <li>{% if item.isNew %}Добавление записи в расписание{% else %}Редактирование записи в расписании{% endif %}</li>
</ol>
{% endblock %}

{% block header %}
{% if item.isNew %}Добавление записи в расписание{% else %}Редактирование записи в расписании{% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <form class="form-horizontal" method="post" action="/admin/entries/save">

        {% if not item.isNew %}
        <input type="hidden" name="id" value="{{item.Pk}}">
        {% endif %}

        <div class="form-group">
            <label for="timeStart" class="col-sm-1 control-label">Начало</label>
            <div class="col-sm-3">
                <input type="datetime-local" class="form-control" id="timeStart" name="timeStart" placeholder="Дата и время" value="{{item.timeStart|date('Y-m-d\\TH:i')}}" autofocus>
            </div>
        </div>

        <div class="form-group">
            <label for="timeEnd" class="col-sm-1 control-label">Конец</label>
            <div class="col-sm-3">
                <input type="datetime-local" class="form-control" id="timeEnd" name="timeEnd" placeholder="Дата и время" value="{{item.timeEnd|date('Y-m-d\\TH:i')}}">
            </div>
        </div>

        <div class="form-group">
            <label for="teacher" class="col-sm-1 control-label">Инструктор</label>
            <div class="col-sm-3">
                <select name="__teacher_id" class="form-control">
                <option>Без тренера</option>
                {% for teacher in teachers %}
                    <option value="{{teacher.Pk}}" {{teacher.Pk == item.teacher.Pk ? 'selected'}}>{{teacher.lastName}} {{teacher.firstName}} {{teacher.patronymic}}</option>
                {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="lesson" class="col-sm-1 control-label">Занятие</label>
            <div class="col-sm-3">
                <select name="__lesson_id" class="form-control" required>
                    {% if item.isNew or item.lesson.Pk == 0 %}
                    <option></option>
                    {% endif %}
                    {% for lesson in lessons %}
                    <option value="{{lesson.Pk}}" {{lesson.Pk == item.lesson.Pk ? 'selected'}}>{{lesson.title}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="room" class="col-sm-1 control-label">Зал</label>
            <div class="col-sm-3">
                <select name="__room_id" class="form-control" required>
                    {% if item.isNew or item.room.Pk == 0 %}
                    <option></option>
                    {% endif %}
                    {% for room in rooms %}
                    <option value="{{room.Pk}}" {{room.Pk == item.room.Pk ? 'selected'}}>{{room.title}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="col-sm-1 control-label">Статус</label>
            <div class="col-sm-3">
                <select name="__status_id" class="form-control">
                    <option value="0">Без статуса</option>
                    {% for status in statuses %}
                    <option value="{{status.Pk}}" {{status.Pk == item.status.Pk ? 'selected'}}>{{status.title}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox col-sm-offset-1 col-sm-3">
                <label>
                    <input type="checkbox" name="published" value="1" {{ item.published ? 'checked' }}> Опубликовать
                </label>
            </div>
        </div>

        <br>

        <div class="form-group">
            <label for="desc" class="col-sm-1 control-label">Комментарий</label>
            <div class="col-sm-11">
            <t4:editor name="desc">{{item.comment}}</t4:editor>
        </div>
        </div>

        <footer class="col-sm-offset-1 col-sm-4">
            <button type="submit" class="btn btn-primary">{% if item.isNew %}Создать{% else %}Сохранить{% endif %}</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
            {% if not item.isNew %}<a href="/admin/Entries/delete/?id={{item.Pk}}" class="confirmable"><button type="button" class="btn btn-danger">Удалить</button></a>{% endif %}
        </footer>

    </form>
</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });
    });
</script>
{% endblock %}
