<form method="post" action="/admin/entries/publish?date={{ currentDate }}">
    <table class="table table-striped table-hover">
        <tr class="info">
            <th>#</th>
            <th>Дата и время</th>
            <th>Занятие</th>
            <th>Инструктор</th>
            <th>Зал</th>
            <th>Статус</th>
            <th>Опубликовано
                <br>
                <label>
                    Выбрать все <input type="checkbox" name="checkAll" value="1">
                </label>
            </th>
            <th></th>
        </tr>
        {% for item in items %}
        <input type="hidden" name="items[{{ loop.index0 }}][id]" value="{{ item.Pk }}">
        <tr>
            <td>{{ item.Pk }}</td>
            <td>{{ item.timeStart|date('d-m-Y') }} {{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}</td>
            <td>{{ item.lesson.title }}</td>
            <td>{{ item.teacher.lastName }} {{ item.teacher.firstName }} {{ item.teacher.patronymic }}</td>
            <td>{{ item.room.title }}</td>
            <td>{{ item.status.title }}</td>
            <td>
                <label>
                    <input class="published" type="checkbox" name="items[{{ loop.index0 }}][published]" value="1" {{ item.published ? 'checked' }}>
                    {{ item.published ? 'Опубликовано' : 'Не опубликовано' }}
                </label>
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="/admin/entries/edit/?id={{item.Pk}}"><i class="glyphicon glyphicon-edit"></i></a>
                <a class="btn btn-danger btn-sm confirmable" href="/admin/entries/delete/?id={{item.Pk}}"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <button class="btn btn-primary pull-right" type="submit">Сохранить</button>
</form>
<div class="pull-left">
    <a class="btn btn-default" target="_blank" href="/admin/entries/printEntries/?date={{currentDate}}">Распечатать расписание на неделю</a>
</div>