<form id="copyForm" method="post" action="/admin/entries/copy?date={{ currentDate }}">
    <table class="table table-striped table-hover">
        <tr class="info">
            <th></th>
            <th>Дата и время</th>
            <th>Занятие</th>
            <th>Инструктор</th>
            <th>Зал</th>
            <th>Статус</th>
            <th>Опубликовано</th>
        </tr>
        {% for item in items %}
        <input type="hidden" name="items[{{ loop.index0 }}][id]" value="{{ item.Pk }}">
        <tr>
            <td><input type="checkbox" name="items[{{ loop.index0 }}][copy]" value="1"></td>
            <td>{{ item.timeStart|date('d-m-Y') }} {{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}</td>
            <td>{{ item.lesson.title }}</td>
            <td>{{ item.teacher.lastName }} {{ item.teacher.firstName }} {{ item.teacher.patronymic }}</td>
            <td>{{ item.room.title }}</td>
            <td>{{ item.status.title }}</td>
            <td>{{ item.published ? 'Опубликовано' : 'Не опубликовано' }}</td>
        </tr>
        {% endfor %}
    </table>
</form>