<!DOCTYPE html>

<html>
<head>

    <title>Расписание</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="" />
    <style type="text/css">
        .wrap {
            width: 1000px;
            margin: 0 auto;
        }
        table {
            width: 100%;
            border: 1px solid #000;
            text-align: center;
        }
        th, td {
            padding: 2px;
            border: 1px solid #000;
            margin: 0px;

        }
        .title {
            background: #d5a6bd;
        }

    </style>

</head>

<body>

<div class="wrap">
    <table cellspacing="0px">
        <tr class="title">
            <th colspan="4">Расписание занятий на текущую неделю</th>
        </tr>
        <tr class="title">
            <td>Время</td>
            <td>Занятие</td>
            <td>Тренер</td>
            <td></td>
        </tr>
        {% for day, entries in week %}
        <tr class="title">
            <th colspan="4">{{ day|localizeddate('short', 'none', 'ru', null, 'EEEE dd.MM')}}</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.timeStart|date('H:i') }} - {{ entry.timeEnd|date('H:i') }}</td>
            <td>{{ entry.lesson.title }}</td>
            <td>{{ entry.teacher.lastName }} {{ entry.teacher.firstName }} {{ entry.teacher.patronymic }}</td>
            <td>{{ entry.status.title }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>
</div>

</body>
</html>

