{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li>Акции</li>
</ol>
{% endblock %}

{% block toolbar %}
<a class="btn btn-primary" href="/admin/promo/edit?id=new"><i class="glyphicon glyphicon-plus-sign"></i> Добавить акцию</a>
{% endblock %}

{% block header %}
Акции
{% endblock %}

{% block content %}

<div class="row">
    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Заголовок</th>
            <th>Фото</th>
            <th>Опубликовано</th>
            <th>Вес</th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr>
            <td><a href="/admin/promo/edit/?id={{item.Pk}}">{{ item.Pk }}</a></td>
            <td>{{ item.title }}</td>
            <td>{% if item.image %}<i class="glyphicon glyphicon-picture"></i>{% endif %}</td>
            <td>{% if item.published %}<i class="glyphicon glyphicon-ok"></i>{% endif %}</td>
            <td>{{ item.weight }}</td>
            <td style="white-space: nowrap">
                <a class="btn btn-primary btn-sm" href="/admin/promo/edit/?id={{ item.Pk }}"><i class="glyphicon glyphicon-edit"></i></a>
                <a class="btn btn-danger btn-sm confirmable" href="/admin/promo/delete/?id={{ item.Pk }}"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function() {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });
    });
</script>
{% endblock %}