<!DOCTYPE html>
<html lang="ru">
<head>
    <base href="" />
    <meta charset="UTF-8" />
    {% block title %}
    <title>Сила Йога</title>
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    {% block meta %}
    <meta name="description" content="Йога-студия с панорамным видом на Москву в 5 минутах м. Добрынинская. Ежедневно, 7:00 – 22:00" />
    <meta name="keywords" content="Йога, Медитация, Йога расписание, Абонемент йога, Мастер-класс, Кафе, Вечеринки, Танцы Москва, клуб силы в Москве" />
    {% endblock %}
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="google-site-verification" content="ylg4yrAgf5MXaiW7Iwv3pFjgUP0F3IdzO_b_UjZZxfQ" />
    <meta name="yandex-verification" content="e82fa7f0ef6e0e5d" />

    {{ publish('/Layouts/assets') }}

    <link href="{{ asset('/Layouts/assets/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/Layouts/assets/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/Layouts/assets/css/animate.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/Layouts/assets/css/style.css')~'?v=4' }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/Layouts/assets/css/media.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/Layouts/assets/images/favicon.ico') }}" rel="shortcut icon"/>
    <link href="{{ asset('/Layouts/assets/images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon" />

    {% block pagelink %}{% endblock %}

</head>
<body style="position: relative;">

<div class="popup callback" style="display: none;">
    <a class="close" href="#">Закрыть</a>
    <ul>
        <li>
            <a href="/index.html">Главная</a>
        </li>
        <li>
            <a href="/about.html">О клубе</a>
        </li>
        <li>
            <a href="/schedule.html">Расписание</a>
        </li>
        <li>
            <a href="/events.html">Афиша/События</a>
        </li>
        <li>
            <a href="/price.html">Цены</a>
        </li>
        <li>
            <a href="/promo.html">Акции</a>
        </li>
        <li>
            <a href="/trainers.html">Инструкторы</a>
        </li>
        <li>
            <a href="/practices.html">Занятия</a>
        </li>
        <li>
            <a href="/tour.html">3D-тур</a>
        </li>
        <li>
            <a href="http://arenda.silaclub.ru/" target="_blank">Аренда</a>
        </li>
        <li>
            <a href="/contacts.html">Контакты</a>
        </li>
        <li>
            <a href="/partners.html">Наши друзья</a>
        </li>

    </ul>
</div>

<header id="header" class="header">

    <div class="top">
        <div class="container text-center">
            <div class="top_phone col-lg-3 col-md-4 col-sm-4 col-xs-12"><a href="tel:{{ app.config.phone|replace({'(':'', ')':'', ' ': '', '-':''}) }}">{{ app.config.phone }}</a></div>
            <div class="top_adds col-lg-3 col-lg-offset-6 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">м. Добрынинская/Серпуховская<br>ул. Люсиновская 36/1</div>
        </div>
    </div>

    <div class="top_fixed text-center">

        <div class="container">

            <ul class="desc_menu menu_left">
                <li class="sm_menu hidden-lg hidden-md text-left">
                    <a class="show_popup" rel="callback" href="/index.html">
                        <span class="icon-hamburger"></span>
                        <span>меню</span>
                    </a>
                </li>
                <li class="hidden-sm hidden-xs">
                    <a href="/about.html">О клубе</a>
                </li>
                <li class="hidden-sm hidden-xs">
                    <a href="/schedule.html">Расписание</a>
                </li>
                <li class="hidden-sm hidden-xs">
                    <a href="/events.html">Афиша/События</a>
                </li>
                <li class="hidden-sm hidden-xs">
                    <a href="/price.html">Цены</a>
                </li>
                <li class="hidden-sm hidden-xs">
                    <a href="/promo.html">Акции</a>
                </li>
            </ul>

            <ul class="desc_menu menu_logo">
                <li class="logo sm_menu">
                    <a href="/index.html">
                        <img src="{{ asset('/Layouts/assets/images/logo.jpg') }}" alt="" />
                    </a>
                </li>
            </ul>

            <ul class="desc_menu menu_right">
                <li class="hidden-sm hidden-xs">
                    <a href="/trainers.html">Инструкторы</a>
                </li>
                <li class="hidden-sm hidden-xs">
                    <a href="/practices.html">Занятия</a>
                </li>
                <li class="hidden-sm hidden-xs">
                    <a href="/tour.html">3D-тур</a>
                </li>
                <li class="hidden-sm hidden-xs">
                    <a href="http://arenda.silaclub.ru/" target="_blank">Аренда</a>
                </li>
                <li class="hidden-sm hidden-xs">
                    <a href="/contacts.html">Контакты</a>
                </li>

                <li class="sm_menu shed hidden-lg hidden-md text-right">
                    <a href="/schedule.html">
                        <span>Расписание</span>
                        <span class="icon-clock"></span>
                    </a>
                </li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
</header>

{% block content %}{% endblock %}

<footer class="footer text-center">
    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <img src="{{ asset('/Layouts/assets/images/logo.png') }}" alt="" />

            <br>

            <div class="text-center" style="font-size: 19px;padding-bottom: 20px;">
                <br>
                <b>Ваше мнение важно для нас, оно помогает нам становиться лучше! </b><br>
                <a href="mailto:info@silaclub.ru">info@silaclub.ru</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <address>
                <p>г. Москва<br/>
                    ул. Люсиновская 36/1<br/>
                    <a href="tel:{{ app.config.phone|replace({'(':'', ')':'', ' ': '', '-':''}) }}">{{ app.config.phone }}</a><br/>
                    ПН - ВС 7:30–22:00<br/>
                    info@silaclub.ru<br />
                    <a href="/privacy.html">Конфиденциальность</a>
                    <br>
                    <a href="/partners.html">Наши друзья</a>
                </p>
            </address>
        </div>
    </div>

    <a class="home" href="/">на главную</a>

</footer>


<div id="fix_footer" class="fix_footer">
    <div class="container">

        <div class="col-md-4 col-sm-4 hidden-xs">
            <div class="logo">
                <a href="/index.html"><img src="{{ asset('/Layouts/assets/images/logo.png') }}"></a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6 link text-center">
            <a href="/schedule.html">Расписание</a>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-6 b3">
            <ul>
                <li>
                    <a href="https://vk.com/sila__club" target="_blank">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="http://facebook.com/silaclub" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/sila_club" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ asset('/Layouts/assets/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('/Layouts/assets/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/Layouts/assets/js/scroll.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/Layouts/assets/js/script.js') }}"></script>

{% block pagescript %}{% endblock %}

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter38487795 = new Ya.Metrika({
                    id:38487795,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/38487795" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<!-- Google Analytics -->
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80733165-1', 'auto');
    ga('send', 'pageview');

</script>
<!-- /Google Analytics -->

<!-- Facebook Pixel Code -->
<!-- <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '470676689805293');
    fbq('track', "PageView");
    fbq('track', "Lead");
</script>
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=470676689805293&ev=PageView&noscript=1"/>
</noscript> -->
<!-- End Facebook Pixel Code -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '371185790009625'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=371185790009625&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<!-- Roistat -->
<script>
    (function(w, d, s, h, id) {
        w.roistatProjectId = id; w.roistatHost = h;
        var p = d.location.protocol == "https:" ? "https://" : "http://";
        var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init";
        var js = d.createElement(s); js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);
    })(window, document, 'script', 'cloud.roistat.com', 'efb40e1ac145ab3c2b4184622b216762');
</script>
<!-- End Roistat -->


<!--noindex-->
<!--Put this script before the end body tag of silaclub.ru-->
<script type="text/javascript">
    !function(s,g,t){var r=s.createElement("script");r.type="text/javascript",r.async=!0,r.src="htt"+"ps://app."+"soc"+"gate.co"+"m/?lang=rus&id="+g+"&upd="+t+"&0c2f94.js";var c=s.getElementsByTagName("script")[0];c.parentNode.insertBefore(r,c);}(document,"1502480483e0c2f945ef48048","1496928911");
</script>
<!--/noindex-->

</body>
</html>