{% extends "Index.html" %}

{% block title %}
<title>Расписание занятий</title>
{% endblock %}

{% block meta %}
<meta name="description" content="Расписание и запись на занятия йогой, лекции и различные мероприятий в Sila Club" />
<meta name="keywords" content="Зумба/Zumba, TRX, Надабрама, Медитация, Медитация ОШО, Аэро Йога, Кундалини, кундалини йога, Хатха, Хатха-йога, Чакры, Здоровье Москва, Развитие гибкости, Учителя йоги, Кали медитация, Сурья намаскар, mindfullnes" />
{% endblock %}

{% block pagelink %}
    <link href="{{ asset('/Layouts/assets/css/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/Layouts/assets/css/jquery-ui.structure.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/Layouts/assets/css/jquery-ui.theme.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content  %}

<div class="modal fade" id="callbackModal" tabindex="-1" role="dialog" aria-labelledby="callbackModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="callbackModalLabel"></h4>
                <p class="text-center modal-title-date"></p>
                <p class="text-center modal-title-time"></p>
            </div>
            <form id="entry-contact">
                <div class="modal-body">
                    <input type="hidden" name="entry" id="entry" value="">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Имя*" required>
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Телефон*" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="e-mail">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button id="btn-submit" type="submit" class="btn btn-primary">Записаться</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="callbackDoneModal" tabindex="-1" role="dialog" aria-labelledby="callbackDoneModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="callbackDoneModalLabel">Спасибо!</h4>
                <p class="text-center modal-title-date"></p>
                <p class="text-center modal-title-time"></p>
            </div>
            <div class="modal-body">
                <p class="text-center">С вами свяжется администратор центра для подтверждения записи</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Возникли ошибки:</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<section class="content schedule">
    <div class="_header">
        <p>Занятия</p>
    </div>

    <div class="_content text-center">
        <div class="container">
            <p class="text-left">Расписание</p>
            <hr>

            <div class="nav_nav">
                <div class="nav_painted">
                    <a class="disable" id="previous-date">&lt;&lt;</a>
                    <a id="today" data-curr-date="{{ 'now'|date('Y-m-d') }}">Сегодня</a>
                    <a class="{{ currentDate >= maxDate ? 'disable' : '' }}" data-max-date="{{ maxDate }}" id="next-date">&gt;&gt;</a>
                </div>
                <div class="nav_calenadar hidden-xs">
                    <label>
                        <img src="{{ asset('/Layouts/assets/images/calendar.png') }}" alt="" width="20">
                        <input type="text" id="datepicker" name="start_date">
                    </label>
                </div>
                <div class="clearfix"></div>
            </div>

            <div id="entries">
                <table class="schedule_desc hidden-sm hidden-xs" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr class="schedule_header">
                            <th><span id="curr-date">{{ currentDate|localizeddate('short', 'none', 'ru', null, 'EEEE LLLL dd, Y') }}</span></th>
                            <th class="mbo_class">Занятие</th>
                            <th class="trainer">Преподаватель</th>
                            <th class="resource">Зал</th>
                            <th></th>
                            <th>Запись</th>
                        </tr>
                        {% for item in items %}
                        <tr>
                            <td>
                                <span class="hc_starttime"> {{ item.timeStart|date('H:i') }}</span><span class="hc_endtime"> - {{ item.timeEnd|date('H:i') }}</span>
                            </td>
                            <td class="mbo_class">
                                <span>{{ item.lesson.title }}</span>
                            </td>
                            <td class="trainer">
                                <span>{{ item.teacher.firstName }} {{ item.teacher.lastName }}</span>
                            </td>
                            <td class="resource">
                                <span class="resource">{{ item.room.title }}</span>
                            </td>
                            <td class="status">
                                <span>{{ item.status.title }}</span>
                            </td>
                            <td>
                                {% if item.status.Pk == 4 %}
                                <span><nobr><a href="tel:{{ app.config.phone|replace({'(':'', ')':'', ' ': '', '-':''}) }}">{{ app.config.phone }}</a></nobr></span>
                                {% elseif item.status.Pk in [2,3] or date() >= date(item.timeEnd) %}
                                <button class="btn hc-button signup_now disabled" disabled="disabled">Записаться</button>
                                {% else %}
                                <a data-entry-pk="{{ item.Pk }}" type="button" data-toggle="modal"
                                   data-target="#callbackModal" data-title="{{ item.lesson.title }}"
                                   data-date="{{ currentDate|localizeddate('short', 'none', 'ru', null, 'EEEE dd.MM.Y') }}"
                                   data-time="{{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}"
                                   class="btn hc-button signup_now">Записаться</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div id="schedule_table_min" class="hidden-md hidden-lg">
                    <p style="">{{ currentDate|localizeddate('short', 'none', 'ru', null, 'EEEE dd.LL.Y')|upper }}</p>
                    {% for item in items %}
                    {% if item.status.Pk in [2,3] %}
                    <div class="schedule_table_min">
                        <h3>{{ item.lesson.title }}</h3>
                        <p>{{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}</p>
                        <p>{{ item.teacher.firstName }} {{ item.teacher.lastName }}</p>
                        <h3>{{ item.status.title }}</h3>
                    </div>
                    {% elseif item.status.Pk == 4 or date() >= date(item.timeEnd) %}
                    <div class="schedule_table_min">
                        <h3>{{ item.lesson.title }}</h3>
                        <p>{{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}</p>
                        <p>{{ item.teacher.firstName }} {{ item.teacher.lastName }}</p>
                        <h3>{{ item.status.title }}</h3>
                        <a href="tel:{{ app.config.phone|replace({'(':'', ')':'', ' ': '', '-':''}) }}" class="pull-left">Позвонить</a>
                        <button class="btn pull-right disabled" disabled="disabled">Записаться</button>
                        <div class="clearfix"></div>
                    </div>
                    {% else %}
                    <div class="schedule_table_min">
                        <h3>{{ item.lesson.title }}</h3>
                        <p>{{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}</p>
                        <p>{{ item.teacher.firstName }} {{ item.teacher.lastName }}</p>
                        <h3>{{ item.status.title }}</h3>
                        <a href="tel:{{ app.config.phone|replace({'(':'', ')':'', ' ': '', '-':''}) }}" class="pull-left">Позвонить</a>
                        <a class="btn pull-right" type="button" data-toggle="modal" data-target="#callbackModal"
                           data-entry-pk="{{ item.Pk }}"
                           data-title="{{ item.lesson.title }}"
                           data-date="{{ currentDate|localizeddate('short', 'none', 'ru', null, 'EEEE dd.MM.Y') }}"
                           data-time="{{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}">Записаться</a>
                        <div class="clearfix"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock  %}

{% block pagescript %}
<script src="{{ asset('/Layouts/assets/js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('/Layouts/assets/js/jquery.maskedinput.min.js') }}"></script>
<script src="{{ asset('/Layouts/assets/js/schedule.js') }}"></script>
{% endblock %}

