<table class="schedule_desc hidden-sm hidden-xs" cellpadding="0" cellspacing="0">
    <tbody>
    <tr class="schedule_header">
        <th><span id="curr-date">{{ currentDate|localizeddate('short', 'none', 'ru', null, 'EEEE LLLL dd, Y') }}</span></th>
        <th class="mbo_class">Занятие</th>
        <th class="trainer">Преподаватель</th>
        <th class="resource">Зал</th>
        <th></th>
        <th>Запись</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>
            <span class="hc_starttime"> {{ item.timeStart|date('H:i') }}</span><span class="hc_endtime"> - {{ item.timeEnd|date('H:i') }}</span>
        </td>
        <td class="mbo_class">
            <span>{{ item.lesson.title }}</span>
        </td>
        <td class="trainer">
            <span>{{ item.teacher.firstName }} {{ item.teacher.lastName }}</span>
        </td>
        <td class="resource">
            <span class="resource">{{ item.room.title }}</span>
        </td>
        <td class="status">
            <span>{{ item.status.title }}</span>
        </td>
        <td>
            {% if item.status.Pk == 4 %}
            <span><nobr><a href="tel:{{ app.config.phone|replace({'(':'', ')':'', ' ': '', '-':''}) }}">{{ app.config.phone }}</a></nobr></span>
            {% elseif item.status.Pk in [2,3] or date() >= date(item.timeEnd) %}
            <button class="btn hc-button signup_now disabled" disabled="disabled">Записаться</button>
            {% else %}
            <a data-entry-pk="{{ item.Pk }}" type="button" data-toggle="modal"
               data-target="#callbackModal" data-title="{{ item.lesson.title }}"
               data-date="{{ currentDate|localizeddate('short', 'none', 'ru', null, 'EEEE dd.MM.Y') }}"
               data-time="{{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}"
               class="btn hc-button signup_now">Записаться</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div id="schedule_table_min" class="hidden-md hidden-lg">
    <p style="">{{ currentDate|localizeddate('short', 'none', 'ru', null, 'EEEE dd.LL.Y')|upper }}</p>
    {% for item in items %}
    {% if item.status.Pk in [2,3] %}
    <div class="schedule_table_min">
        <h3>{{ item.lesson.title }}</h3>
        <p>{{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}</p>
        <p>{{ item.teacher.firstName }} {{ item.teacher.lastName }}</p>
        <h3>{{ item.status.title }}</h3>
    </div>
    {% elseif item.status.Pk == 4 or date() >= date(item.timeEnd) %}
    <div class="schedule_table_min">
        <h3>{{ item.lesson.title }}</h3>
        <p>{{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}</p>
        <p>{{ item.teacher.firstName }} {{ item.teacher.lastName }}</p>
        <h3>{{ item.status.title }}</h3>
        <a href="tel:{{ app.config.phone|replace({'(':'', ')':'', ' ': '', '-':''}) }}" class="pull-left">Позвонить</a>
        <button class="btn pull-right disabled" disabled="disabled">Записаться</button>
        <div class="clearfix"></div>
    </div>
    {% else %}
    <div class="schedule_table_min">
        <h3>{{ item.lesson.title }}</h3>
        <p>{{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}</p>
        <p>{{ item.teacher.firstName }} {{ item.teacher.lastName }}</p>
        <h3>{{ item.status.title }}</h3>
        <a href="tel:{{ app.config.phone|replace({'(':'', ')':'', ' ': '', '-':''}) }}" class="pull-left">Позвонить</a>
        <a class="btn pull-right" type="button" data-toggle="modal" data-target="#callbackModal"
           data-entry-pk="{{ item.Pk }}"
           data-title="{{ item.lesson.title }}"
           data-date="{{ currentDate|localizeddate('short', 'none', 'ru', null, 'EEEE dd.MM.Y') }}"
           data-time="{{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}">Записаться</a>
        <div class="clearfix"></div>
    </div>
    {% endif %}
    {% endfor %}
</div>