<div class="cover">
    <div class="top">
        <p>{{ item.lesson.title }}</p>
    </div>
    <div class="middle">
        <h2>{{ item.teacher.firstName }} {{ item.teacher.lastName }}</h2>
    </div>
    <div class="bottom">
        <p>{{ item.timeStart|localizeddate('short', 'none', 'ru', null, 'EEEE') }} {{ item.timeStart|date('H:i') }} - {{ item.timeEnd|date('H:i') }}</p>
    </div>
</div>
