{% extends 'Admin/Blank.html' %}


{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/rooms/">Залы</a></li>
</ol>
{% endblock %}

{% block header %}
Залы
{% endblock %}

{% block toolbar %}
<a class="btn btn-primary" href="/admin/rooms/edit?id=new"><i class="glyphicon glyphicon-plus-sign"></i> Добавить зал</a>
{% endblock %}



{% block content %}
<div class="table-responsive ">
    <table class="table table-striped table-hover table">
        <tr class="info">
            <th>Название</th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{item.title}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/admin/rooms/edit/?id={{item.Pk}}"><i class="glyphicon glyphicon-edit"></i></a>
                <a class="btn btn-danger btn-sm confirmable" href="/admin/rooms/delete/?id={{item.Pk}}"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });
    });
</script>
{% endblock %}


