{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/rooms/">Залы</a></li>
    <li>{% if item.isNew %}Добавление зала{% else %}Редактирование зала{% endif %}</li>
</ol>
{% endblock %}

{% block header %}
{% if item.isNew %}Добавление зала{% else %}Редактирование зала{% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/rooms/save">

        {% if not item.isNew %}
        <input type="hidden" name="id" value="{{item.Pk}}">
        {% endif %}

        <div class="form-group">
            <label for="title" class="col-sm-1 control-label">Название зала</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="title" name="title" placeholder="Название зала" value="{{item.title}}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">Фото</label>
            <div class="col-sm-3">
                <p class="form-control-static">
                    {% if item.image %}
                <p class="image">
                    <img src="{{item.image}}" class="img-responsive" style="max-width: 200px; max-height: 200px;">
                    <a href="#" class="item-image-delete" data-id="{{item.Pk}}"><i class="glyphicon glyphicon-remove text-danger"></i>&nbsp;</a>
                </p>
                {% endif %}
                </p>
                {{element('file', 'image', {'text':'Выберите файл'})}}
            </div>
        </div>

        <div class="form-group">
            <label for="desc" class="col-sm-1 control-label">Описание</label>
            <div class="col-sm-11">
                <t4:editor name="desc">{{item.desc}}</t4:editor>
            </div>
        </div>

        <footer class="col-sm-offset-1 col-sm-4">
            <button type="submit" class="btn btn-primary">{% if item.isNew %}Создать{% else %}Сохранить{% endif %}</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
            {% if not item.isNew %}<a href="/admin/rooms/delete/?id={{item.Pk}}" class="confirmable"><button type="button" class="btn btn-danger">Удалить</button></a>{% endif %}
        </footer>

    </form>
</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });

        $('.item-image-delete').click( function () {
            var $this = $(this);
            var id = $this.attr('data-id');
            if (0 != id) {
                $.post('/admin/rooms/deleteImage.json', {"id":id}, function (r) {
                    if (r.result) {
                        $this.parent().remove();
                    }
                });
            }
            return false;
        });
    });
</script>
{% endblock %}
