@media (min-width: 150px) and (max-width: 319px) {

}
/*-------------------------------------------------
-------------------------------------------------*/
@media (min-width: 250px) and (max-width: 550px) {
	.price li span {
		display: block;
		float: none;
		padding-left: 15px;
		font-weight: bold;
		font-family: 'HelveticaBold';
	}
}
@media (min-width: 320px) and (max-width: 767px) {
	.g_1x1 {
	    width: 100%;
	}
	.g_1x2 {
	    width: 100%;
	}
	.g_2x1 {
	    width: 100%;
	}
	.g_4x1 {
	    width: 100%;
	    padding-bottom: 24%;
	}
	.grid {
		padding: 0px!important;
		min-height: 250px;
		margin: 0 auto;
		margin-bottom: 5px;
	}
	.grid_wrap {
		height: auto;
		padding: 3px;
	}
	.overlay h2 {
		font-size: 19px!important;
	}
	.overlay h2 + p {
		font-size: 14px;
	}
	.cover h2 {
		font-size: 19px;
	}
	.overlay h2 + p{ 
		border-bottom: 0px;
		padding: 10px;
	}

	.icon-hamburger, .icon-clock {
		color: #000;
		font-size: .7em;
		display: inline-block;
	}
	.icon-hamburger + span, .icon-clock + span {
		display: inline-block;
		vertical-align: middle;
		padding: 10px 0px 6px 0px;
	}
	.sm_menu {
		padding-top: 7px;
		padding-bottom: 7px;
        width: 100%;
	}
	.shed {
		    padding: 15px 0px;
	}
	.sm_menu a {
		font-size: 14px!important;
	}
	.desc_menu li.logo img {
		width: 40px;
	}
	.desc_menu li.logo {
		padding: 0px;
        margin: 0px;
    }
    .menu_right, .menu_left
    {
        width: calc(100% / 2 - 35px);
	}
	.fix_footer .b3 img {
		width: 20px;
	}
	.footer address p {
		text-align: center;
		padding-top: 15px;
	}
	.s_img {
		width: 99%;
	}
	._header > p, .contacts ._header > p {
	    font-size: 28px;
	}
    .privacy ._header > p {
		font-size: 13px;
	}
	.contacts .text-right, .contacts .text-left  {
		text-align: center;
	}
	.modal-dialog {
	    margin: 130px auto;
	}
	.menu h4 , .menu li{
		text-align: center;
	}
	.menu h4 {
		padding-top: 25px;
		text-align: left;
	}
	.price li {
		text-align: left;
	}
	.menu h2 {
		text-align: left;
	}
	.s_search_wrap img {
		margin-top: 40px;
	}
	#map {
   	 	width: 100%;
    	height: 1000px;
	}
	.f_wrap .col-md-3 p, .f_wrap .col-md-6 p, .f_wrap .col-md-2 p, .f_wrap .col-md-4 p, .f_wrap .col-md-5 p {
		margin-bottom: 20px;
	}
	.teach_wrap iframe, .classes_wrap iframe {
		width: 100%;
		height: 250px;
	}
}

/*-------------------------------------------------
-------------------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
	#map {
   	 	width: 100%;
    	height: 900px;
	}
	.g_1x1 {
	    width: 99%;
	}
	.g_1x2 {
	    width: 99%;
	}
	.g_2x1 {
	    width: 99%;
	}
	.g_4x1 {
	    width: 99%;
	    padding-bottom: 24%;
	}
	.grid {
		padding: 0px!important;
		height: 350px;
	}
	.grid_wrap {
		height: auto;
	}
	.icon-hamburger, .icon-clock {
		color: #000;
		font-size: .7em;
		display: inline-block;
	}
	.icon-hamburger + span, .icon-clock + span {
		display: inline-block;
		vertical-align: middle;
	}
	.sm_menu {
		padding-top: 7px;
		padding-bottom: 7px;
        width: 100%;
	}
	.desc_menu li.logo img {
		width: 40px;
	}
	.s_img {
		width: 99%;
	}
	.modal-dialog {
		width: 400px;
	    margin: 130px auto;
	}
	.contacts .text-right, .contacts .text-left  {
		text-align: center;
	}
	.menu h4 , .menu li{
		text-align: center;
	}
	.menu h4 {
		padding-top: 25px;
		text-align: left;
	}
	.price li {
		text-align: left;
	}
	.teach_wrap iframe, .classes_wrap iframe {
		width: 100%;
		height: 350px;
	}

}

/*-------------------------------------------------
-------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1199px) {
	.modal-dialog {
		width: 400px;
	    margin: 130px auto;
	}
	.teach_wrap iframe, .classes_wrap iframe {
		width: 100%;
		height: 450px;
	}
    .desc_menu li a
    {
        font-size: 15px;
        padding: 0px 4px;
    }
}

/*-------------------------------------------------
-------------------------------------------------*/

@media (min-width: 1200px) {
	.modal-dialog {
		width: 400px;
	    margin: 130px auto;
	}
	.teach_wrap iframe, .classes_wrap iframe {
		width: 80%;
		height: 513px;
	}

}

@media (max-width: 767px) and (min-width: 320px) {
    .grid.yogaday {
        min-height: 46vw;
    }
}