/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBold"; */
@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaItalic"; */
@font-face {
    font-family: "HelveticaItalic";
    src: url("../fonts/HelveticaItalic/HelveticaItalic.eot");
    src: url("../fonts/HelveticaItalic/HelveticaItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"),
    url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLight"; */
@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaLight/HelveticaLight.eot");
    src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}
/* font-family: "HelveticaBlack"; */
@font-face {
    font-family: "HelveticaBlack";
    src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
    src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"),
    url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaHeavy"; */
@font-face {
    font-family: "HelveticaHeavy";
    src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
    src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"),
    url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaMedium"; */
@font-face {
    font-family: "HelveticaMedium";
    src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
    src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"),
    url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaThin"; */
@font-face {
    font-family: "HelveticaThin";
    src: url("../fonts/HelveticaThin/HelveticaThin.eot");
    src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"),
    url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaUltraLight"; */
@font-face {
    font-family: "HelveticaUltraLight";
    src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
    src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"),
    url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBoldItalic"; */
@font-face {
    font-family: "HelveticaBoldItalic";
    src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot");
    src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"),
    url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBlackItalic"; */
@font-face {
    font-family: "HelveticaBlackItalic";
    src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot");
    src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"),
    url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLightItalic"; */
@font-face {
    font-family: "HelveticaLightItalic";
    src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot");
    src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"),
    url("../fonts/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaMediumItalic"; */
@font-face {
    font-family: "HelveticaMediumItalic";
    src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot");
    src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"),
    url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaHeavyItalic"; */
@font-face {
    font-family: "HelveticaHeavyItalic";
    src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
    src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"),
    url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaThinItalic"; */
@font-face {
    font-family: "HelveticaThinItalic";
    src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot");
    src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"),
    url("../fonts/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaUltraLightItalic"; */
@font-face {
    font-family: "HelveticaUltraLightItalic";
    src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
    src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"),
    url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: icons;
    src: url(../fonts/icon/icons90a1.eot);
    src: url(../fonts/icon/iconsd41d.eot?#iefix) format("embedded-opentype"), 
        url(../fonts/icon/icons90a1.woff) format("woff"), 
        url(../fonts/icon/icons90a1.html) format("truetype");
    font-weight: 400;
    font-style: normal;
}
[class*=" icon-"]:before, [class^=icon-]:before {
    font-family: icons;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class*=" icon-"], [class^=icon-] {
    font-size: 7em;
    color: #fff;
}
.icon-arrow-down:before {
    content: "\f101"}
.icon-arrow-left:before {
    content: "\f102"}
.icon-arrow-right:before {
    content: "\f103"}
.icon-arrow-up:before {
    content: "\f104"}
.icon-clock:before {
    content: "\f105"}
.icon-facebook:before {
    content: "\f106"}
.icon-gather:before {
    content: "\f107"}
.icon-hamburger:before {
    content: "\f108"}
.icon-instagram:before {
    content: "\f109"}
.icon-learn:before {
    content: "\f10a"}
.icon-listen:before {
    content: "\f10b"}
.icon-person:before {
    content: "\f10c"}
.icon-practice:before {
    content: "\f10d"}
.icon-taste:before {
    content: "\f10e"}
.icon-train:before {
    content: "\f10f"}
.icon-twitter:before {
    content: "\f110"}
.icon-wl-logo:before {
    content: "\f111"}
.icon-x:before {
    content: "\f112"}


body {
	font-family: 'HelveticaLight'!important;
}
h1{

}
h2{

}

h3{}
h4{}
h5{}
h6{}
p{
	margin: 0px;
	padding: 0px;
}
a, a:hover {
	outline: 0!important;
	text-decoration: none!important;
	transition: all .3s;
	-o-transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
}
ul { list-style: none; }
ol { list-style-type: decimal; }
ol, ul {
    margin: 0px;
    padding: 0px;
}
ul li {
    padding: 0px;
}
.out {
	outline: 1px solid #000;
}
.clearfix {
	clear: both;
}

/*----------------------------------------------------
[ INDEX PAGE ]
----------------------------------------------------*/
.top
{
    position: relative;
    z-index: 2;
    padding-top: 10px;
}

.top_phone
{
    font-size: 19px;
    color: #5D60A6;
    font-weight: 600;
}
.fixed-top .top_fixed
{
    position: fixed!important;
    z-index: 999999!important;
    top: 0px;
    left: 0px;
    right: auto;
}
header.fixed-top
{
    padding-top: 70px;
}

.top_fixed {
    width: 100%;
    background: #fff;
    box-shadow: rgba(100, 100, 100, 0.15098) 0px 6px 10px;
    -o-box-shadow: rgba(100, 100, 100, 0.15098) 0px 6px 10px;
    -ms-box-shadow: rgba(100, 100, 100, 0.15098) 0px 6px 10px;
    -moz-box-shadow: rgba(100, 100, 100, 0.15098) 0px 6px 10px;
    -webkit-box-shadow: rgba(100, 100, 100, 0.15098) 0px 6px 10px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.top_fixed .container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.top_fixed .container .row
{
    width: 100%;
}

.menu_right, .menu_left
{
    width: calc(100% / 2 - 75px);
}
.menu_right
{
    text-align: left;
}
.menu_left
{
    text-align: right;
}

.desc_menu {
    padding: 10px 0px;
}
.desc_menu li {
    display: inline-block;
}
.desc_menu li.logo {
    padding: 0px 0px;
    margin: 0px 20px;
}
.desc_menu li a {
    color: #000;
    font-size: 17px;
    display: inline-block;
    padding: 0px 10px;  
}
.desc_menu li a:hover {
    color: #5b5ea3;
}
.desc_menu li.logo img {
    width: 50px;
}

.grid_wrap {
    padding: 10px 10px 0px 10px;
    height: calc(100vw + 10px);
    overflow: hidden;
}
.grid {
    background: #e8e6db;
    margin: 0.5%;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: cover;
    position: relative;
}
.overlay {
    background: rgba(0,0,0,.2);
    color: #fff!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.cover {
    color: #000!important;
    overflow: hidden;
}
.cover,.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.cover {
    text-align: center;
    padding: 10px;
}
.cover .top, .cover .middle, .cover .bottom {
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cover p {
    font-size: 19px;
    font-weight: 300;
}
.cover h2 {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 5px;
}

.overlay h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    letter-spacing: 4px;
}
.overlay h2 + p{
    border-bottom: 2px solid #fff;
    font-weight: 100;
    padding: 5px 0px 7px;
    font-size: 19px;
}
.g_1x1 {
    width: 24%;
    padding-bottom: 24%;
}
.g_1x2 {
    width: 49%;
    padding-bottom: 24%;
}
.g_2x1 {
    width: 24%;
    padding-bottom: 49%;
}
.g_4x1 {
    width: 99%;
    padding-bottom: 24%;
}


.footer {
    padding: 45px 0px 0px;
    background: #fbf3e8;
}
.footer img {
    width: 100px;
}
.footer address p {
    font-size: 17px;
    font-weight: 300;
    text-align: right;
}
.footer a.home {
    display: block;
    width: 100%;
    padding: 15px;
    background: #272627;
    color: #fff;
    font-weight: 300;
    margin-bottom: 70px;
}
.footer a.home:hover {
    background: #5b5ea3;
}
.popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 99999999999;
    padding-top: 75px;
    color: #fff;
    padding: 75px 15px;
}
a.close, a.back {
    width:32px;
    height:32px;
    display:block;
    text-indent:-9999px;
    position:fixed;
    top:15px;
    right:15px;
    background:url(../images/close.png) no-repeat;
    background-size: cover;
    color: #333333;
    opacity: 1;
    filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    -moz-filter: invert(1);
    -webkit-filter: invert(1);
}
.popup {
    overflow: scroll;
}
.popup ul {
    padding-left: 0px;
    overflow: scroll;
}
.popup ul li:first-child {
    border-top: 1px solid #444;
}
.popup ul li{
    padding: 10px;
    font-size: 24px;
    text-align: center;
}
.popup ul li{
    padding: 10px;
    font-size: 24px;
    border-bottom: 1px solid #444;
}
.popup ul li a{
    color: #fff;
    font-weight: 300;
}
.popup ul li a:hover{
    color: #337ab7;
}
/*----------------------------------------------------
[ INDEX PAGE ][ END ]
----------------------------------------------------*/
._header {
    min-height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: 50% center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
._header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1
}
._header p {
    color: #fff;
    text-transform: uppercase;
    font-size: 56px;
    letter-spacing: 8px;
    z-index: 2;
}
.privacy ._header p {
    font-size: 48px;
}
._content {
    padding: 70px 0px;
}


/*----------------------------------------------------
[ ABOUT PAGE ][ ]
----------------------------------------------------*/
.about ._header {
    background-image: url(../images/member_0.jpg);
}
.about ._content p {
    color: #000;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    padding: 15px;
    text-align: justify;
}
.about ._content h3 {
    color: #5d50a6;
    text-transform: uppercase;
    padding: 15px 0px;
    font-size: 36px;
    letter-spacing: 4px;
}
.s_search_wrap {
    padding: 15px 0px;
    text-align: center;
    margin-bottom: 40px;
}
.s_search_wrap img {

    width: 100%;
    max-width: 160px;
    text-align: left;
}
.s_search_wrap h4 {
    font-size: 19px;
    padding: 10px 0px;
    text-align: center;
}
.s_search_wrap h4 + span {
    display: block;
    font-size: 17px;
    text-align: justify;
}
.s_search_wrap .col-md-2 {
    padding: 0px 30px;
}

.schedule_desc {
    width: 100%;
    border: none;
    margin-top: .75em;
}
.schedule_desc  th {
    background: #5d60a6;
    border: none;
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 100;
    font-family: 'HelveticaThin';
    padding:8px;
}
.schedule_desc td {
    color: grey;
    border-top: 1px solid #e5e5e5;
    z-index: 1;
    background-color: #f5f5f5;
    font-size: 15px;
    line-height: 1;
    padding: 1.5em 1.5em;
    vertical-align: middle;
    text-align: left;
}
.zap {
    text-align: center!important;
}
.schedule_desc td a {
    color: #000;
    font-family: 'HelveticaLight';
    cursor: pointer;
    font-weight: 400;
}
.schedule_desc td a:hover, .nav_painted a:hover, .nav_today a:hover{
    background: #474282;
}

.schedule_desc td span {
    color: #949494;
}
.signup_now {
    color: #fff!important;
    background: #5d60a6;
    padding: 7px 15px;
}
#schedule_table_min p, #subscription p, #deposit p, #complex p {
    text-align: center;
    font-size: 16px;
    padding: 20px 0px 10px;
}
.schedule_table_min {
    width: 100%;
    padding: 15px;
    border: 1px solid #ececec;
    margin-top: 20px;
    text-align: center;
    cursor: pointer!important;
}
.schedule_table_min:nth-child(even) {
    background: #ececec;
}
.schedule_table_min h3 {
    font-size: 24px;
    text-align: center!important;
    letter-spacing: 0px!important;
    margin: 0px;
    padding: 5px!important;
}
.schedule_table_min p {
    font-size: 24px;
    color: #444;
    margin: 0px;
    padding: 5px!important;
        text-align: center;
    font-size: 18px;
}
.schedule_table_min p + p {
    color: #555;
    margin: 0px!important;
}
.schedule_table_min a, .schedule_table_min button {
    padding: 10px 20px;
    background: #5d60a6;
    color: #fff;
    border-radius: 0px;
}
.schedule_table_min button:hover, .schedule_table_min button:focus {
    color: #fff;

}
.schedule_table_min a:hover {
}
.modal-title {
    color: #5d60a6;
    text-align: center;
    font-size: 24px;
}
.modal-title +p {
    font-size: 17px;
    padding: 7px 0px;
}
.modal-title +p+p{
    font-size: 17px;
}

a.btn.signup_now.disabled, a.btn.signup_now, button.btn.signup_now {
    display: initial;
    font-size: 15px;
    border-radius: 0px;
}

/*----------------------------------------------------
[ SCHEDULE PAGE ][ END ]
----------------------------------------------------*/
.cafe ._content p {
    color: #000;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    padding: 35px 15px;
    text-align: justify;
}
.cafe p + a {
    display: inline-block;
    padding: 10px 45px;
    margin-bottom: 40px;
    background: #5d60a6;
    color: #fff;
}
.cafe p + a:hover {
    background: #3f4387;
}
.cafe a + img {
    display: block;
    margin: 0 auto;
}

/*----------------------------------------------------
[ CAFE PAGE ][  ]
----------------------------------------------------*/
.cafe ._header {
    background-image: url(../images/cafe.jpg);
}
.menu {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px 55px;
    text-align: center;
}
.menu h2 {
    color: #5d60a6;
    font-size: 42px;
    text-decoration: underline;
    margin-bottom: 50px;
    margin-top: 50px;
    

    text-align: center;
}
.menu h4 {
   color: #5d60a6;
   font-size: 24px;
   text-align: center;
}
.menu li {
    font-size: 18px;
    text-align: center;
}

.__salat ul,
.__first ul,
.__second ul,
.__drink ul {
    list-style: circle;
}

.m_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}
.m_wrap h4 {
    text-align: left;
}
.m_wrap ul li{
    text-align: left;
}
.price {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.price li {
    text-align: left;
    border-bottom: 1px dashed #5d60a6;
    margin-bottom: 7px;

}
.price li span {
    float: right;
    color: #5d60a6;
}

.menu h2.three {
    text-decoration: none;
}

.menu h2 span {
    font-size: 22px;
}
/*----------------------------------------------------
[ CAFE PAGE ][ END ]
----------------------------------------------------*/


/*----------------------------------------------------
[ CONTACTS PAGE ][  ]
----------------------------------------------------*/

.contacts ._header {
    background-image: url(../images/contact.jpg);
}
#map {
    width: 100%;
    height: 600px;
}
.contacts ._content {
    padding: 0px;
    position: relative;
}
.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.f_wrap {
    width: 100%;
    min-height: 500px;
    background: rgba(255,255,255,.9);
    padding: 20px;
    text-align: center;
}
.f_wrap h3 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: bold;
    color: #01285d;
}
.f_wrap img.logo_f {
    width: 200px;
    margin-bottom: 45px;
}
.f_icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    transition: all .2s;
    text-align: center;
}
.f_icon img {
    transition: all .4s;
}
.f_icon:hover img {
    transform: translateY(-100px);
}
.f_wrap .col-md-3 p, .f_wrap .col-md-6 p, .f_wrap .col-md-2 p, .f_wrap .col-md-4 p, .f_wrap .col-md-5 p {
    font-weight: 100;
    font-size: 17px;
    padding-top: 10px;
}
.i_w {
    transition: all .5s;
}
.f_wrap .col-md-3 img, .f_wrap .col-md-6 img, .f_wrap .col-md-2 img, .f_wrap .col-md-4 img, .f_wrap .col-md-5 img  {
    width: 70px;
}
.f2 img {
    margin-bottom: 40px;
}
.f1 img {
    margin-bottom: 40px;

}
.f3 img {
    margin-bottom: 40px;
  
}
.f4 img {
    margin-bottom: 40px;
   
}
.f_wrap a {
    display: inline-block;
    border: 2px solid #5d60a6;
    margin-top: 45px;
    padding: 10px 45px;
    font-size: 19px;
    font-weight: 500;
    background: #5d60a6;
    color: #fff;
}

.f_wrap a:hover {
    background: #474282;
}
/*----------------------------------------------------
[ CONTACTS PAGE ][ END ]
----------------------------------------------------*/






.schedule ._header {
    background: url(../images/schedule.jpg) no-repeat 0% 40% / cover;
}
.schedule ._header > p{
    font-size: 56px;
}
.schedule p {
    font-size: 19px;
    margin-bottom: 0px;
    padding-bottom: 7px;
}
hr {
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    border-color: #aaa;
}
.nav_nav {
    text-align: center;
}
.nav_painted {
    padding: 10px;
    display: inline-block;
}
.nav_painted a:first-child {
    padding: 5px 30px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.nav_painted a:last-child {
    padding: 5px 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav_painted a, .nav_today a {
    display: inline-block;
    padding: 5px 25px;
    background: #5d60a6;
    color: #fff!important;
    cursor: pointer;
    font-family: 'HelveticaLight';
}
a.disable {
    background: #ececec!important;
    pointer-events: none!important;
}
.nav_calenadar {
    display: inline-block;
    padding: 10px 35px;
}
.nav_calenadar label {
    display: inline;
}
.nav_calenadar img {
    border: none;
    float: none;
    padding: 0;
    margin: 0;
}
.nav_calenadar img {
    display: inline-block;
    vertical-align: middle;
}
.nav_calenadar input {
    width: 220px;
    border: 1px solid #5d60a6;
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.paa {
    width: 100%;
}
.s_img_wrap {
    height: auto;
}
.s_img {
    overflow: hidden;
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 49%;
    margin: 0.5%;
    min-height: 400px;
}
.fix_footer {
    display: none;
    background: #fbf3e8;
    padding: 10px 0px;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0px;
}
.fix_footer img {
    width: 50px;
}
.fix_footer .b3 .fa {
    font-size: 24px;

}
.fix_footer ul {
    text-align: right;
}
.fix_footer li {
    display: inline-block;
    padding-top: 10px;
    margin: 0px 5px;
}
.fix_footer .link a {
    line-height: 50px;
    padding: 0px;
    margin: 0px;
    font-size: 19px;    
    font-weight: 300;
}

/*----------------------------------------------------*/


.events ._header {
    background: url(../images/events_header.jpg) no-repeat 0% 50% / cover;
}

.events ._header:before {
    background: inherit;
}

.ev_wrap {
    overflow: hidden;
    width: 100%;
    box-shadow: 4px 4px 3px 0px rgba(0,0,0,.4);
    height: 250px;
    margin-bottom: 25px;
    position: relative;
}

.ev_wrap .img {
    width: 100%;
    height: 250px;
    transition: all .2s;
}

.ev_wrap .over {
    padding: 15px;
    width: 100%;
    height: 250px;
    transition: all .2s;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*----------------------------------------------------*/
.classes ._header {
    background: url(../images/classes.jpg) no-repeat 0% 40% / cover;
}
.classes_wrap, .events_wrap {
    padding: 10px 0px;
}
.c_wrap {
    overflow: hidden;
    width: 100%;
    box-shadow: 4px 4px 3px 0px rgba(0,0,0,.4);
    height: 200px;
    margin-bottom: 25px;
    position: relative; 
}
.c_wrap .img {
    width: 100%;
    height: 200px;
    transition: all .2s;
}
.c_wrap:hover .img, .ev_wrap:hover .img {
    opacity: 1;
    transform: scale(1.4) rotate(10deg);
}
.classes_wrap ul {
    list-style: disc;
    font-size: 19px;
    padding-bottom: 10px;
    text-align: left;
    margin: 0 0 10px 40px;
}
.c_wrap .over {
    padding: 15px;
    width: 100%;
    height: 200px;
    transition: all .2s;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.over h2 {
    transition: all .2s;
}
.over p {
    color: #fff;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0px;
    display: block;
    width: 100%;
    font-size: 24px;
    transform: scale(4);
    transition: all .2s;
    font-family: 'HelveticaThin'!important;
}
.c_wrap:hover .over p, .ev_wrap:hover .over p {
    opacity: 1;
    transform: scale(1);
}
.c_wrap:hover .over h2, .ev_wrap:hover .over h2 {
    transform: scale(4);
    opacity: 0;
}
.c_wrap a, .c_wrap h2, .ev_wrap a, .ev_wrap h2{
    color: #fff!important;
    font-family: 'HelveticaThin'!important;
    font-size: 25px;

}
div.content-image {
    float: left;
    margin: 0 25px 10px 0;
}
.classes_wrap img, .events_wrap img {
    width: 100%;
    max-width: 400px;
}
.classes_wrap p, .events_wrap p {
    /*text-align: justify;*/
    font-size: 19px;
    padding-bottom: 10px;

}
/*------------------------------------------*/
.teacher ._header {
    background: url(../images/classes.jpg) no-repeat 0% 40% / cover;
}
.t_wrap {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.t_wrap img {
    width: 100%;
    max-width: 260px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.t_wrap img + p {
    font-size: 19px;
}
a > .t_wrap {
    color: #010110
}
.teach_wrap img {
    width: 100%;
    max-width: 350px;
    border-radius: 50%;
}
.teach_wrap img + p {
    font-size: 24px;
    padding: 15px 0px;
}
.teach_wrap img + p ~ p {
    font-size: 19px;
    padding: 10px 0px;
    text-align: justify;
}
/*------------------------------------------*/
.pricelist ._header {
    background: url(../images/pricelist.jpg) no-repeat 0% 74% / cover;
}

.pricelist ._header:before {
    background: inherit;
}

.pricelist ._content p {
    color: #000;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    padding: 15px;
    text-align: justify;
}

.pricelist .days {
    width: 269px;
}

.pricelist ._content h4 {
    color: #5d60a6;
    font-size: 24px;
    text-transform: uppercase;
}

.pricelist_h3 {
    color: #5d50a6;
    text-transform: uppercase;
    padding: 15px 0px;
    font-size: 36px;
    letter-spacing: 4px;
}

.pricelist_h3.spec {
    font-size: 30px;
}

.pricelist .subscription {
    display: inline-block;
    width: 290px;
}

.pricelist .subscription li {
    text-align: left;
    font-size: 20px;
    color: #000;
}
/*------------------------------------------*/
.main_pricelist div.overlay,
.main_practices div.overlay,
.main_cafe div.overlay,
.main_trainers div.overlay,
.main_yoga div.overlay,
.main_karuna div.overlay
{
    transition: all .3s;
}

.main_pricelist div.overlay:hover,
.main_practices div.overlay:hover,
.main_cafe div.overlay:hover,
.main_trainers div.overlay:hover,
.main_yoga div.overlay:hover,
.main_karuna div.overlay:hover
{
    background: rgba(0,0,0,0.5);
}
/*------------------------------------------*/
.privacy ._header {
    background: url(../images/privacy.jpg) no-repeat 0% 74% / cover;
}

.privacy ._content p {
    color: #000;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    padding: 15px;
    text-align: justify;
}

.privacy ._content h3 {
    font-family: 'HelveticaMedium'!important;
    text-align: left;
    padding-left: 15px;
    font-size: 22px;
}


.podarok ._content p {
    color: #000;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    padding: 15px 15px;
    text-align: justify;
}
.podarok p + a {
    display: inline-block;
    padding: 10px 45px;
    margin-bottom: 40px;
    background: #5d60a6;
    color: #fff;
}
.podarok p + a:hover {
    background: #3f4387;
}
.podarok a + img {
    display: block;
    margin: 0 auto;
}

.podarok ._header {
    background-image: url(../images/podarok_header.jpg);
}

@media (max-width: 767px) and (min-width: 320px) {
    .podarok ._header > p {
        font-size: 18px;
    }

    div.content-image {

        float: none;
        text-align: center;
        margin: 0 0 10px 0;
    }
}

.promo ._header {
    background: url(../images/pricelist.jpg) no-repeat 0% 74% / cover;
}

.promo ._header:before {
    background: inherit;
}

.promo_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.promo_item {
    padding: 10px;
    width: 380px;
}

.promo_item_wrapper {
    border: 1px solid #eaeaea;
    border-bottom-width: 3px;
    box-sizing: border-box;
}

.promo_item_content {
    padding: 30px 25px 20px;
}

.promo_item_title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #5d50a6;
    margin: 0 0 20px;
}

.promo_content_sep {
    height: 6px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.promo_item_text {
    text-align: justify;
    font-size: 17px;
    margin: 20px 0 0;
}

.arenda-button {
    display: inline-block;
    border: 2px solid #5d60a6;
    margin-top: 45px;
    padding: 10px 45px;
    font-size: 19px;
    font-weight: 500;
    background: #5d60a6;
    color: #fff;
    border-radius: initial;
}

.arenda-button:hover {
    background: #474282;
    color: #fff;
}

.arenda-button:focus {
    color: #fff;
}

.partners_wrap p {
    text-align: center;
    font-size: 16px;
    overflow-wrap: break-word;
}

.partners_wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.partners_item {
    padding: 10px;
    max-width: 200px;
    margin: 20px;
}

.partners_item figcaption {
    padding-top: 10px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 0;
}

