{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li>Мероприятия</li>
</ol>
{% endblock %}

{% block toolbar %}
<!--<a class="btn btn-primary" href="/admin/Cards/edit?id=new"><i class="glyphicon glyphicon-plus-sign"></i> Добавить мероприятие</a>-->
{% endblock %}

{% block header %}
Мероприятия
{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Произвольный текст (например, дата)</th>
            <th></th>
        </tr>
        {% for item in items %}
        <tr>
            <td><a href="/admin/Cards/edit/?id={{ item.Pk }}">{{item.Pk}}</a></td>
            <td>{{ item.title }}</td>
            <td>{{ item.desc }}</td>
            <td>{{ item.startdate }}</td>
            <td style="white-space: nowrap">
                <a class="btn btn-primary btn-sm" href="/admin/Cards/edit/?id={{item.Pk}}"><i class="glyphicon glyphicon-edit"></i></a>
                <!--<a class="btn btn-danger btn-sm confirmable" href="/admin/Cards/delete/?id={{item.Pk}}"><i class="glyphicon glyphicon-remove"></i></a>-->
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function() {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });
    });
</script>
{% endblock %}