{% extends 'Admin/Blank.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/admin/">Админ-панель</a></li>
    <li><a href="/admin/Cards/">Мероприятия</a></li>
    <li>{% if item.isNew %}Добавление Мероприятия{% else %}Редактирование Мероприятия{% endif %}</li>
</ol>
{% endblock %}

{% block header %}
{% if item.isNew %}Добавление Мероприятия{% else %}Редактирование Мероприятия{% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/admin/Cards/save">

        {% if not item.isNew %}
        <input type="hidden" name="id" value="{{ item.Pk }}">
        {% endif %}

        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Название Мероприятия</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="title" name="title" value="{{ item.title }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="desc" class="col-sm-3 control-label">Описание Мероприятия</label>
            <div class="col-sm-3">
                <textarea name="desc" class="form-control" id="desc" required>{{ item.desc }}</textarea>
                <!--<input type="text" class="form-control" id="desc" name="desc" value="{{ item.desc }}" required>-->
            </div>
        </div>
        <div class="form-group">
            <label for="startdate" class="col-sm-3 control-label">Произвольный текс (например, дата)</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="startdate" name="startdate" value="{{ item.startdate }}" maxlength="45">
            </div>
        </div>

        <footer class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">{% if item.isNew %}Создать{% else %}Сохранить{% endif %}</button>
            <button type="button" class="btn btn-default" onclick="window.history.back();">Отменить</button>
            <!--{% if not item.isNew %}<a href="/admin/Cards/delete/?id={{ item.Pk }}" class="confirmable"><button type="button" class="btn btn-danger">Удалить</button></a>{% endif %}-->
        </footer>

    </form>
</div>

{% endblock %}

{% block pagescript %}
<script type="text/javascript">
    $(function () {
        $('a.confirmable').click(function() {
            return confirm('Вы уверены?');
        });
    });
</script>
{% endblock %}