{% extends "Index.html" %}

{% block title %}
<title>Инструкторы</title>
{% endblock %}

{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %}

{% block content  %}
<section class="content teacher">
    <div class="_header">
        <p>Инструкторы</p>
    </div>

    <div class="_content text-center">

        <div class="container">
            <div class="teacher_wrap">
                <div class="row">
                {% for item in items %}
                <div class="col-md-3">
                    <a href="/trainers/{{ item.url }}">
                        <div class="t_wrap">
                            <img src="{{ item.sm_photo }}">
                            <p>{{ item.getFullName }}</p>
                        </div>
                    </a>

                    <p style="margin-bottom: 45px;">
                        {% for practice in item.practices %}
                        {% if practice.published %}
                            <a href="/practices/{{ practice.url }}">{{practice.title}}</a>{% else %}{{practice.title}}{% endif %}{{not loop.last ? ','}}
                        {% endfor %}
                    </p>
                </div>
                {% if loop.index % 4 == 0 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock  %}
