{% extends "Index.html" %}

{% block title %}
<title>{{ trainer.getFullName }}</title>
{% endblock %}

{% block meta %}
<meta name="description" content="{{ trainer.description }}" />
<meta name="keywords" content="{{ trainer.keywords }}" />
{% endblock %}

{% block content  %}
<section class="content teacher">
    <div class="_header">
        <p>{{ trainer.getFullName }}</p>
    </div>

    <div class="_content text-center">

        <div class="container">
            <div class="teach_wrap">
                {% if trainer.photo %}<img src="{{ trainer.photo }}" alt="" title="" />{% endif %}
                <p>{{ trainer.getFullName }}</p>
                <p>Ведет практики:
                    {% for practice in trainer.practices %}
                        {% if practice.published %}
                        <a href="/practices/{{ practice.url }}">{{practice.title}}</a>{% else %}{{practice.title}}{% endif %}{{not loop.last ? ','}}
                    {% endfor %}
                </p>
                {{ trainer.text|raw}}
                {% if trainer.video %}
                <iframe src="{{ trainer.video }}" frameborder="0"></iframe>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock  %}