@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLight"; */
@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaLight/HelveticaLight.eot");
    src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}


@page {
    size: landscape;
    margin: 0.5cm;
    color: #5d60a6;
}
body{
	padding: 0px;
	margin: 0px;
	padding-top: 10px;
	color: #5d60a6;
	font-family: 'HelveticaRegular';


}
h1 {
	text-align: center;
	font-size: 42px;
	text-decoration: underline;
	margin: 10px;
	font-family: 'HelveticaLight';
}
ol {
	padding-left: 0px;
}
ul {
	padding: 0px;
	width: 100%;
	padding: 10px 15px;
	list-style-type: none;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 20px;
}
.wrap {
	width: 1300px;
	display: block;
	margin: 0 auto;
	position: relative;
}
.wrap img {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 300px;
}
.f_ul:first-child {
	text-align: left;
	display: inline-block;
	width: 23%;
	vertical-align: top;
}
.f_ul:nth-child(2) {
	text-align: left;
	display: inline-block;
	width: 20%;
	vertical-align: top;
}
.f_ul:nth-child(3) {
	text-align: left;
	display: inline-block;
	width: 25%;
	vertical-align: top;
}
.f_ul:nth-child(4) {
	text-align: left;
	display: inline-block;
	width: 20%;
	vertical-align: top;
}
.f_ul ol {
	list-style-type: none;
	color: #000;
}
.f_ul {
    padding: 10px;
}
.f_ul ol li {
    padding-bottom: 6px;

}
h3 {
	margin-top: 10px;
	font-size: 24px;
	font-weight: 100;
}
h2 {
	text-align: center;
	font-size: 32px;
	text-decoration: underline;
	margin: 10px;
}
._alg {
	text-align: left;
}
.alg {
	display: block;
	width: 550px;
	text-align: left;
	font-size: 19px;
	margin: 0 auto;
    margin-bottom: 25px;
}
.alg span {
	float: right;
	color: #5D60A6;
}
.alg li {
	margin-bottom: 10px;
	color: #000;
	border-bottom: 1px dashed #000;
	
}
h2.three {
	text-decoration: none;
	margin-top: 5px;
	font-size: 36px;
	margin-bottom: 10px;
}
.three + span  {
	font-size: 23px;
	display: block;
	text-align: center;
}



















