{% extends "Index.html" %}

{% block content %}
<section class="content not_found">
    <div class="_header">
        <p>404<br>страница не найдена</p>
    </div>
    <div class="_content text-center">
        <p>
            Запрашиваемая страница не найдена
        </p>
    </div>
</section>
{% endblock %}