{% extends "Index.html" %}

{% block title %}
<title>О клубе SILA</title>
{% endblock %}

{% block meta %}
<meta name="description" content="Место духовной силы и саморазвития в Москве" />
<meta name="keywords" content="Корпоративные занятия, тренировки, Здоровье, Зож, Органик фуд, Кафе, Лекции, Семинары, Мастер-классы, Самопознание, Хатха, Кундалини, Аэро йога, Йога, Развитие гибкости, TRX" />
{% endblock %}

{% block content  %}
<section class="content about">
    <div class="_header">
        <p>о клубе</p>
    </div>
    <div class="_content text-center">
        <div class="container">
            <p>
                Мы создали клуб SILA чтобы помочь вам найти энергию, здоровье и радость в джунглях каменного города. Теперь вы можете стать членом клуба яркой и насыщенной жизни, учиться, общаться, практиковать здоровый образ жизни в кругу единомышленников, отдохнуть в месте настоящей силы и наслаждаться каждым днем!
            </p>
        </div>

        <h3>у нас вы найдете</h3>

        <div class="s_search_wrap">

            <div class="col-md-2 col-md-offset-1">
                <img src="{{ asset('/Layouts/assets/images/a2.png') }}" alt="" />
                <h4>ФУНКЦИОНАЛЬНЫЕ ТРЕНИРОВКИ:</h4>
                <span>TRX, Суставная гимнастика, Растяжка-шпагат.</span>
            </div>

            <div class="col-md-2">
                <img src="{{ asset('/Layouts/assets/images/a1.png') }}" alt="" />
                <h4>РАЗНООБРАЗНЫЕ ЙОГА КЛАССЫ:</h4>
                <span>Хатха, Кундалини, Аэро и многое другое.</span>
            </div>

            <div class="col-md-2">
                <img src="{{ asset('/Layouts/assets/images/a5.png') }}" alt="" />
                <h4>КОРПОРАТИВНЫЕ ПРОГРАММЫ:</h4>
                <span>Наша миссия - нести людям счастье, здоровье и радость, объединяя единомышленников в чудесном месте силы. Приходите с друзьями, приводите коллег - мы готовы предложить корпоративные скидки и условия.</span>
            </div>

            <div class="col-md-2">
                <img src="{{ asset('/Layouts/assets/images/a4.png') }}" alt="" />
                <h4>ЯРКИЕ МЕРОПРИЯТИЯ:</h4>
                <span>
                    В нашем клубе регулярно проходят лекции и семинары. Приходите за знаниями, мудростью и новыми знакомствами.
                </span>
            </div>

            <div class="col-md-2">
                <img src="{{ asset('/Layouts/assets/images/a3.png') }}" alt="" />
                <h4>УЮТНОЕ КАФЕ:</h4>
                <span>Полезные натуральные сладости, фреши, смузи, чай, кофе и всегда свежая и вкусная еда.</span>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="s_img_wrap">
            <div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/i1.jpg') }});"></div>
            <div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/i2.jpg') }});"></div>
            <div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/i3.jpg') }});"></div>
            <div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/i4.jpg') }});"></div>
            <div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/i5.jpg') }});"></div>
            <div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/i6.jpg') }});"></div>
            <div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/i7.jpg') }});"></div>
            <div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/c4.jpg') }});"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
{% endblock  %}

