{% extends "Index.html" %}

{% block title %}
<title>КАФЕ #СИЛАВТАРЕЛКЕ</title>
{% endblock %}

{% block meta %}
<meta name="description" content="Скидки и бизнес-ланчи в демократичном кафе с видом на Добрынинскую" />
<meta name="keywords" content="Ланч, Меню кафе, Правильное питание, Меню салат/напиток/второе/ролл, Оплата картой, кафе" />
{% endblock %}

{% block content  %}
<section class="content cafe">
    <div class="_header">
        <p>КАФЕ #СИЛАВТАРЕЛКЕ</p>
    </div>
    <div class="_content text-center">
        <div class="container">
            <p>Порадуйте своё тело и мозг полезными натуральными сладостями, свежими соками, смузи, чаем и кофе.</p>
            <!--{% if items is not empty %}
            <a class="anchor" href="#menu">Перейти к меню</a>
            {% endif %}-->
            <br>
            <t4:block path="/Pages//PageById" id="1" />
        </div>

        <div id="menu" class="menu">
            <div class="container">
                {% if items is not empty %}
                <h2>Меню на сегодня</h2>
                <div class="m_wrap">
                    {% if items[2] is not empty %}
                    <div class="__salat col-md-3">
                        <h4>Салаты:</h4>
                        <ul>
                            {% for dish in items[2] %}
                            <li>{{ dish.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if items[3] is not empty %}
                    <div class="__first col-md-3">
                        <h4>Супы:</h4>
                        <ul>
                            {% for dish in items[3] %}
                            <li>{{ dish.title}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if items[4] is not empty %}
                    <div class="__second col-md-3">
                        <h4>Вторые блюда:</h4>
                        <ul>
                            {% for dish in items[4] %}
                            <li>{{ dish.title}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if items[6] is not empty %}
                    <div class="__drink col-md-3">
                        <h4>Десерты/Сэндвичи:</h4>
                        <ul>
                            {% for dish in items[6] %}
                            <li>{{ dish.title}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="clearfix"></div>
                    <br><br><br><br>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="s_img_wrap">
            <!--<div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/c1.jpg') }});"></div>
            <div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/c2.jpg') }});"></div>
            <div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/c3.jpg') }});"></div>-->
            <div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/c4.jpg') }});"></div>
            <!--<div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/c5.jpg') }});"></div>-->
            <div class="col-md-6 s_img" style="background-image:url({{ asset('/Layouts/assets/images/c6.jpg') }});"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
{% endblock  %}