{% extends "Index.html" %}

{% block title %}
<title>Контакты</title>
{% endblock %}

{% block meta %}
<meta name="description" content="Студия йоги на Люсиновской в современном бизнес-центре Glass House" />
<meta name="keywords" content="Йога Москва, Добрынинская, Серпуховская, Люсиновская, Ежедневно, Йога центр, График работы, Метро (йога)" />
{% endblock %}

{% block content  %}
<section class="content contacts">
    <div class="_header">
        <p>контакты</p>
    </div>

    <div class="_content text-center">
        <div id="map"></div>
        <div class="layer">
            <div class="container">
                <div class="f_wrap">
                    <img class="logo_f" src="{{ asset('/Layouts/assets/images/contacts.png') }}" alt="контакты">
                    <div class="clearfix"></div>

                    <div class="col-md-2">
                        <div class="f_icon f1">
                            <div class="i_w">
                                <img src="{{ asset('/Layouts/assets/images/phone.png') }}" alt="телефон">
                                <img src="{{ asset('/Layouts/assets/images/phone1.png') }}" alt="телефон">
                            </div>
                        </div>
                        <p>{{ app.config.phone }}</p>
                    </div>
                    <div class="col-md-5">
                        <div class="f_icon f2">
                            <div class="i_w">
                                <img src="{{ asset('/Layouts/assets/images/geo.png') }}" alt="адрес">
                                <img src="{{ asset('/Layouts/assets/images/geo1.png') }}" alt="адрес">
                            </div>
                        </div>
                        <p>115093, г.Москва, ул.Люсиновская д.36, стр.1 <br>БЦ GLASS HOUSE 10 этаж</p>
                    </div>
                    <div class="col-md-2">
                        <div class="f_icon f3">
                            <div class="i_w">
                                <img src="{{ asset('/Layouts/assets/images/mail.png') }}" alt="email">
                                <img src="{{ asset('/Layouts/assets/images/mail1.png') }}" alt="email">
                            </div>
                        </div>
                        <p>info@silaclub.ru</p>
                    </div>
                    <div class="col-md-3">
                        <div class="f_icon f4">
                            <div class="i_w">
                                <img src="{{ asset('/Layouts/assets/images/clock.png') }}" alt="время работы">
                                <img src="{{ asset('/Layouts/assets/images/clock1.png') }}" alt="время работы">
                            </div>
                        </div>
                        <p>Пн - Вс 7:30–22:00</p>
                    </div>
                    <div class="clearfix"></div>

                    <a target="_blank" href="https://yandex.ru/maps/213/moscow/?text=%D0%BB%D1%8E%D1%81%D0%B8%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%2036%2F1&amp;sll=37.736330%2C55.910503&amp;sspn=0.108662%2C0.038808&amp;ol=geo&amp;ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D37.621%252C55.723%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259C%25D0%25BE%25D1%2581%25D0%25BA%25D0%25B2%25D0%25B0%252C%2520%25D0%259B%25D1%258E%25D1%2581%25D0%25B8%25D0%25BD%25D0%25BE%25D0%25B2%25D1%2581%25D0%25BA%25D0%25B0%25D1%258F%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%252C%252036%25D1%25811&amp;ll=37.620358%2C55.723206&amp;z=18">Посмотреть на карте</a> <br>
                    <a target="_blank" href="http://arenda.silaclub.ru/">Аренда залов</a>

                </div>
            </div>
        </div>
    </div>


</section>
{% endblock  %}

{% block pagescript %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    var myMap, myPlacemark;
    function init(){
        myMap = new ymaps.Map("map", {
            center: [55.72345113, 37.62117032],
            zoom: 17,
            controls: []
        });
        myMap.behaviors.disable(['scrollZoom']);
        myPlacemark = new ymaps.Placemark([55.72345113, 37.62117032], {
            hintContent: 'Москва!',
            balloonContent: 'ул.Люсиновска 36/1'
        });
        myMap.geoObjects.add(myPlacemark);
    }
</script>
{% endblock %}

