{% extends "Index.html" %}

{% block content  %}
<section class="content index">
    <div class="grid_wrap">
        <div class="grid g_1x1 pull-left">
            <t4:block path="/Cards//oneCard" id="11" />
        </div>
        <a class="main_yoga" href="/practices.html">
            <div class="grid g_1x2 pull-left" style="background-image: url({{ asset('/Layouts/assets/images/practice_4.jpg') }})">
                <div class="overlay">
                    <div class="icon-practice"></div>
                    <h2>Практики</h2>
                </div>
            </div>
        </a>
        <div class="grid g_1x1 pull-left">
            <t4:block path="/Cards//oneCard" id="12" />
        </div>
        <a class="main_trainers" href="/schedule.html">
            <div class="grid g_1x1 pull-right" style="background-image: url({{ asset('/Layouts/assets/images/main_schedule.jpg') }})">
                <div class="overlay">
                    <div class="icon-train"></div>
                    <h2>Расписание</h2>
                </div>
            </div>
        </a>
        <a class="main_cafe" href="/promo.html">
            <div class="grid g_1x2 pull-left" style="background-image: url({{ asset('/Layouts/assets/images/member_0.jpg') }})">
                <div class="overlay">
                    <div class="icon-wl-logo"></div>
                    <h2>АКЦИИ</h2>
                </div>
            </div>
        </a>
        <div class="grid g_1x1 pull-left">
            <t4:block path="/Cards//oneCard" id="3" />
        </div>
        <a class="main_trainers" href="/trainers.html">
            <div class="grid g_1x1 pull-left" style="background-image: url({{ asset('/Layouts/assets/images/learn_0.jpg') }})">
                <div class="overlay">
                    <div class="icon-person"></div>
                    <h2>Инструкторы</h2>
                </div>
            </div>
        </a>
        <a class="main_practices" href="/events.html">
            <div class="grid g_1x2 pull-left" style="background-image: url({{ asset('/Layouts/assets/images/test_homepage_gather2_0.jpg') }})">
                <div class="overlay">
                    <div class="icon-learn"></div>
                    <h2>События</h2>
                </div>
            </div>
        </a>
        <div class="grid g_1x1 pull-left">
            <t4:block path="/Cards//oneCard" id="4" />
        </div>
        <a class="main_pricelist" href="/about.html">
            <div class="grid yogaday g_1x2 pull-left" style="background-image: url({{ asset('/Layouts/assets/images/i7.jpg') }})">
                <div class="overlay">
                    <div class="icon-listen"></div>
                    <h2>О клубе</h2>
                </div>
            </div>
        </a>
        <a class="main_pricelist" href="/price.html">
            <div class="grid g_1x2 pull-left" style="background-image: url({{ asset('/Layouts/assets/images/membership.jpg') }})">
                <div class="overlay">
                    <h2>Наши цены</h2>
                    <p>приобретайте абонемент на несколько занятий для получения полной силы</p>
                </div>
            </div>
        </a>
        <div class="clearfix"></div>
    </div>
</section>
{% endblock  %}