{% extends "Index.html" %}

{% block title %}
<title>#ЩЕДРЫЙВТОРНИК</title>
{% endblock %}

{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %}

{% block content  %}
<section class="content podarok">
    <div class="_header">
        <p>#ЩЕДРЫЙВТОРНИК</p>
    </div>
    <div class="_content text-center">
        <div class="container">
            <p>
                Благотворительный фонд «Подарок Ангелу» и студия йоги «Sila» в #ЩедрыйВторник объединяются под силой добра. Весь день, 29 ноября, занятия по йоге от лучших столичных преподавателей будут доступны абсолютно бесплатно, однако любой желающий взамен может совершить свободное пожертвование. Собранные средства будут направлены в фонд «Подарок Ангелу», который оказывает помощь детям с заболеванием ДЦП. На перечисленные деньги фонд отправит семилетнюю Варвару Назарову из Екатеринбурга на долгожданный для нее курс реабилитации. Помимо свободного входа посетителям йога-студии «Sila» в Щедрый вторник будет сделано специальное предложение по приобретению абонемента с большой скидкой, а часть вырученных средств от «щедрых» абонементов будет также направлена на помощь подопечной Благотворительного фонда «Подарок ангелу».
            </p>
            <p>
                Посетить бесплатные занятия в рамках мероприятия #СилаДобра может любой желающий, предварительно записавшись по телефону: 84951046888.
            </p>
            <p>
                Сайт йога-студии «Sila»:<br> <a href="http://www.silaclub.ru">http://www.silaclub.ru/</a>
            </p>
            <p>
                Сайт Благотворительного фонда «Подарок Ангелу»:<br> <a href="http://www.podarokangelu.ru" target="_blank">http://www.podarokangelu.ru/</a>
            </p>
        </div>
    </div>
</section>
{% endblock  %}