{% extends "Index.html" %}

{% block title %}
<title>Прайс</title>
{% endblock %}

{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %}

{% block content  %}
<section class="content pricelist">
    <div class="_header">
        <p>Прайс-лист</p>
    </div>
    <div class="_content text-center">
        <div class="container">
            <h2><strong>Прейскурант студии SILA</strong></h2>
            <h5>(на посещение групповых занятий)</h5>
            <br>
<!--             <div>
                <p class="days">
                    День&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7:30 – 18:00<br>
                    Вечер&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 18:00 – 22:00<br>
                    Выходные&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7:30 – 22:00
                </p>
            </div> -->

            <h3 class="pricelist_h3">РАЗОВЫЕ ПОСЕЩЕНИЯ</h3>
            <table class="schedule_desc hidden-sm hidden-xs" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td></td>
                        <td style="line-height: 1.4;">День<br>7:30 – 18:00</td>
                        <td style="line-height: 1.4;">Вечер<br>18:00 – 22:00</td>
                        <td style="line-height: 1.4;">Выходные<br>7:30 – 22:00</td>
                    </tr>
                    <tr>
                        <td class="text-uppercase">Групповые занятия</td>
                        <td class="mbo_class">
                            <span>600 руб.</span>
                        </td>
                        <td class="trainer">
                            <span>700 руб.</span>
                        </td>
                        <td>
                            <span>600 руб.</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-uppercase">Аэро-йога</td>
                        <td class="mbo_class">
                            <span>800 руб.</span>
                        </td>
                        <td class="trainer">
                            <span>800 руб.</span>
                        </td>
                        <td>
                            <span>800 руб.</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-uppercase">Трайбл-фьюжн</td>
                        <td class="mbo_class">
                            <span>600 руб.</span>
                        </td>
                        <td class="trainer">
                            <span>700 руб.</span>
                        </td>
                        <td>
                            <span>700 руб.</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="deposit" class="hidden-md hidden-lg">
                <div class="schedule_table_min">
                    <p class="text-uppercase">разовые посещения групповых занятий</p>
                    <p>День: 600 руб.</p>
                    <p>Вечер: 700 руб.</p>
                    <p>Выходные: 600 руб.</p>
                </div>
                <div class="schedule_table_min">
                    <p class="text-uppercase">разовые посещения аэро-йоги</p>
                    <p>День: 800 руб.</p>
                    <p>Вечер: 800 руб.</p>
                    <p>Выходные: 800 руб.</p>
                </div>
                <div class="schedule_table_min">
                    <p class="text-uppercase">разовые посещения трайбл-фьюжн</p>
                    <p>День: 600 руб.</p>
                    <p>Вечер: 700 руб.</p>
                    <p>Выходные: 700 руб.</p>
                </div>
            </div>

            <h3 class="pricelist_h3">АБОНЕМЕНТЫ</h3>
            <p class="text-center"><sup>*</sup>По данным абонементам вы можете посещать классы по Аэро-йоге и Трайбл Фьюжн с доплатой 150 руб. за занятие</p>
            <table class="schedule_desc hidden-sm hidden-xs" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="line-height: 1.4;">День/Выходные<br>7:30 – 18:00;7:30 – 22:00</td>
                    <td style="line-height: 1.4;">Вечер<br>18:00 – 22:00</td>
                </tr>
                <tr>
                    <td rowspan="4">СТОИМОСТЬ <br><br>И СРОКИ<br><br> АБОНЕМЕНТОВ</td>
                    <td class="mbo_class">
                        <span>5 занятий</span>
                    </td>
                    <td class="trainer">
                        <span>30 дней</span>
                    </td>
                    <td class="trainer">
                        <span>2 700 руб.</span>
                    </td>
                    <td class="trainer">
                        <span>3 300 руб.</span>
                    </td>
                </tr>
                <tr>
                    <td class="mbo_class">
                        <span>8 занятий</span>
                    </td>
                    <td class="trainer">
                        <span>45 дней</span>
                    </td>
                    <td class="trainer">
                        <span>4 000 руб.</span>
                    </td>
                    <td class="trainer">
                        <span>5 000 руб.</span>
                    </td>
                </tr>
                <tr>
                    <td class="mbo_class">
                        <span>12 занятий</span>
                    </td>
                    <td class="trainer">
                        <span>60 дней</span>
                    </td>
                    <td class="trainer">
                        <span>5 700 руб.</span>
                    </td>
                    <td class="trainer">
                        <span>7 100 руб.</span>
                    </td>
                </tr>
                <tr>
                    <td class="mbo_class">
                        <span>18 занятий</span>
                    </td>
                    <td class="trainer">
                        <span>90 дней</span>
                    </td>
                    <td class="trainer">
                        <span>-</span>
                    </td>
                    <td class="trainer">
                        <span>10 200 руб.</span>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <table class="schedule_desc hidden-sm hidden-xs" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td>3 месяца, безлимитный</td>
                            <td>17 000 руб.</td>
                        </tr>
                        <tr>
                            <td>6 месяцев, безлимитный</td>
                            <td>29 000 руб.</td>
                        </tr>
                        <tr>
                            <td>12 месяцев, безлимитный</td>
                            <td>42 000 руб.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="subscription" class="hidden-md hidden-lg">
            	<div class="schedule_table_min">
                    <p>5 занятий</p>
                    <p>30 дней</p>
                    <p>День/Выходные: 2 700 руб.</p>
                    <p>Вечер: 3 300 руб.</p>
                </div>
                <div class="schedule_table_min">
                    <p>8 занятий</p>
                    <p>45 дней</p>
                    <p>День/Выходные: 4 000 руб.</p>
                    <p>Вечер: 5 000 руб.</p>
                </div>
                <div class="schedule_table_min">
                    <p>12 занятий</p>
                    <p>60 дней</p>
                    <p>День/Выходные: 5 700 руб.</p>
                    <p>Вечер: 7 100 руб.</p>
                </div>
                <div class="schedule_table_min">
                    <p>18 занятий</p>
                    <p>90 дней</p>
                    <p>День/Выходные: -</p>
                    <p>Вечер: 10 200 руб.</p>
                </div>
                <div class="schedule_table_min">
                    <p>3 месяца</p>
                    <p>безлимитный</p>
                    <h3>17 000 руб.</h3>
                </div>
                <div class="schedule_table_min">
                    <p>6 месяцев</p>
                    <p>безлимитный</p>
                    <h3>29 000 руб.</h3>
                </div>
                <div class="schedule_table_min">
                    <p>12 месяцев</p>
                    <p>безлимитный</p>
                    <h3>42 000 руб.</h3>
                </div>
            </div>


            <h3 class="pricelist_h3 spec">СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</h3>
            <table class="schedule_desc hidden-sm hidden-xs" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td>АБОНЕМЕНТ <br><br>"ЗНАКОМСТВО С КЛУБОМ"</td>
                    <td class="mbo_class">
                        <span>Включает 3 <u>разных</u> занятия <br><br> 10 дней</span>
                    </td>
                    <td class="trainer">
                        <span>1 200 руб.</span>
                    </td>
                </tr>
                <!-- <tr>
                    <td>АБОНЕМЕНТ <br><br>"WEEKEND"</td>
                    <td class="mbo_class">
                        <span>
                            4 занятия, 1 месяц<br><br>
                            8 занятий, 2 месяца<br><br>
                            12 занятий, 3 месяца
                        </span>
                    </td>
                    <td class="trainer">
                        <span>
                            1 800 руб.<br><br>
                            3 400 руб.<br><br>
                            4 800 руб.
                        </span>
                    </td>
                </tr> -->
                <tr>
                    <td>АБОНЕМЕНТ <br><br>"ПОЛЕТели!" <br><br><span>(Абонемент на Аэро-йогу)</span></td>
                    <td class="mbo_class">
                        <span>
                            5 занятий, 30 дней<br><br>
                            10 занятий, 45 дней<br><br>
                            12 занятий, 60 дней
                        </span>
                    </td>
                    <td class="trainer">
                        <span>
                            3 500 руб.<br><br>
                            6 000 руб.<br><br>
                            6 600 руб.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>АБОНЕМЕНТ <br><br>"Трайбл Фьюжн"</td>
                    <td class="mbo_class">
                        <span>
                            5 занятий, 30 дней<br><br>
                            10 занятий, 45 дней<br><br>
                        </span>
                    </td>
                    <td class="trainer">
                        <span>
                            2 500 руб.<br><br>
                            4 500 руб.<br><br>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="complex" class="hidden-md hidden-lg">
                <div class="schedule_table_min">
                    <h3>АБОНЕМЕНТ "ЗНАКОМСТВО С КЛУБОМ"</h3>
                    <p>10 дней</p>
                    <p>Включает 3 <u>разных</u> занятия</p>
                    <p>1 200 руб.</p>
                </div>
                <!-- <div class="schedule_table_min">
                    <h3>АБОНЕМЕНТ "WEEKEND"</h3>
                    <p>4 занятия, 1 месяц: 1 800 руб.</p>
                    <p>8 занятий, 2 месяца: 3 400 руб.</p>
                    <p>12 занятий, 3 месяца: 4 800 руб.</p>
                </div> -->
                <div class="schedule_table_min">
                    <h3>АБОНЕМЕНТ "ПОЛЕТели!" <small><span>(Абонемент на Аэро-йогу)</span></small></h3>
                    <p>5 занятий, 30 дней: 3 500 руб.</p>
                    <p>10 занятий, 45 дней 6 000 руб.</p>
                    <p>12 занятий, 60 дней: 6 600 руб.</p>
                </div>
                <div class="schedule_table_min">
                    <h3>АБОНЕМЕНТ "Трайбл Фьюжн"</h3>
                    <p>5 занятий, 30 дней: 2 500 руб.</p>
                    <p>10 занятий, 45 дней: 4 500 руб.</p>
                </div>
            </div>

            <div class="text-center">
                <a target="_blank" href="http://arenda.silaclub.ru/" class="btn arenda-button">Аренда залов</a>
            </div>

        </div>
    </div>
</section>
{% endblock  %}
