{% extends "Index.html" %}

{% block title %}
<title>Политика конфиденциальности</title>
{% endblock %}

{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %}

{% block content  %}
<section class="content privacy">
    <div class="_header">
        <p>Политика<br/>конфиденциальности</p>
    </div>
    <div class="_content text-center">
        <div class="container">
            <p>В этом документе описывается, какую личную информацию мы получаем и собираем, когда Вы пользуетесь ресурсами Центра Йоги Sila</p>
            <p>Мы признаем важность конфиденциальности информации. Надеемся, что эти сведения помогут Вам принимать осознанные решения в отношении предоставляемой нам личной информации.</p>
            <h3>Общедоступная информация</h3>
            <p>При просмотре сайта информация о Вас и о вашем посещении не публикуется на сайте и сторонних источниках в открытом доступе.</p>
            <h3>Идентификация посетителей</h3>
            <p>На сайте ни в каком виде не производится регистрация посетителей.</p>
            <h3>Электронная почта и номер телефона</h3>
            <p>Адрес электронной почты и номер телефона, указываемые Вами при отправке сообщения, не показывается другим посетителям сайта. Мы можем сохранять сообщения электронной почте и другие письма, отправленные пользователями, чтобы обрабатывать вопросы пользователей, отвечать на запросы и совершенствовать наши службы.</p>
            <h3>Цели сбора и обработки персональной информации пользователей</h3>
            <p>На странице “Расписание”, а также наших рекламных кампаниях на Facebook присутствует возможность записаться. Ваше добровольное согласие оставить заявку на посещение занятия или запись в группу подтверждается путем ввода Вашего Имени, Телефона или E-mail в форму подписки. Имя используется для личного обращения к Вам, а e-mail или телефон — для уточнения времени и условий проведения занятия нашим менеджером. Пользователь предоставляет свои данные добровольно.</p>
            <h3>Условия обработки и её передачи третьим лицам</h3>
            <p>Ваши Имя, Номер телефона и Е-мейл используются строго в соответствии с политикой конфиденциальности Центра Йоги Sila и хранятся на его защищенных серверах. Ваши Имя, номер телефона и Е-мейл никогда, ни при каких условиях не будут переданы третьим лицам, исключая случаи, которые связаны с исполнением законодательства.</p>
            <h3>Протоколирование и Куки (Cookie)</h3>
            <p>На сайте silaclub.ru используются куки (Cookies), происходит сбор данных о посетителях с помощью сервисов Яндекс.Метрика на всех страницах сайта silaclub.ru. Эти данные служат для сбора информации о действиях посетителей на сайте, для улучшения качества его содержания и возможностей. В любое время Вы можете изменить параметры в настройках Вашего браузера таким образом, чтобы браузер перестал сохранять все файлы cookie, а так же оповещал их об отправке. При этом следует учесть, что в этом случае некоторые сервисы и функции могут перестать работать.</p>
            <h3>Изменение Политики конфиденциальности</h3>
            <p>На этой странице Вы сможете узнать о любых изменениях данной политики конфиденциальности. В особых случаях, Вам будет выслана информация на Ваш e-mail.</p>
        </div>
    </div>
</section>
{% endblock  %}