{% extends "Index.html" %}

{% block title %}
<title>События</title>
{% endblock %}

{% block meta %}
<meta name="description" content="" />
<meta name="keywords" content="" />
{% endblock %}

{% block content  %}
<section class="content events">
    <div class="_header">
        <p>События</p>
    </div>
    <div class="_content text-center">
        <div class="container">
            <div class="events_wrap">
                {% if upcomingEvents is defined and not upcomingEvents.isEmpty %}
                    <h1 class="text-left">Афиша:</h1>
                    <div class="row">
                        {% for item in upcomingEvents %}
                            <div class="col-md-4">
                                <h3>{{ item.rundate | date('d.m.Y') }}</h3>
                                <a href="/events/{{ item.url }}">
                                    <div class="ev_wrap">
                                        <div class="img" style="background: url({{ item.sm_image ?: '/img/events/events_ph.jpg' }}) no-repeat 50% 50% / cover;"></div>
                                        <div class="over">
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                                <h3><a href="/events/{{ item.url }}">{{ item.title }}</a></h3>
                            </div>
                            {% if loop.index % 3 == 0 %}
                            </div>
                            <div class="row">
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if not pastEvents.isEmpty %}
                    <h1 class="text-left">Прошедшие события:</h1>
                    <div class="row">
                        {% for item in pastEvents %}
                            <div class="col-md-4">
                                <h3>{{ item.rundate | date('d.m.Y') }}</h3>
                                <a href="/events/{{ item.url }}">
                                    <div class="ev_wrap">
                                        <div class="img" style="background: url({{ item.sm_image ?: '/img/events/events_ph.jpg' }}) no-repeat 50% 50% / cover;"></div>
                                        <div class="over">
                                            <p></p>
                                        </div>
                                    </div>
                                </a>
                                <h3><a href="/events/{{ item.url }}">{{ item.title }}</a></h3>
                            </div>
                            {% if loop.index % 3 == 0 %}
                            </div>
                            <div class="row">
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% if itemsCount > pageSize %}
                        <div class="row">{{widget('pager', {'total': itemsCount, 'size': pageSize, 'active': activePage, 'url': '/events/?page=%d'})}}</div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock  %}
