{% extends "Index.html" %}

{% block title %}
<title>{{ practice.title }}</title>
{% endblock %}

{% block meta %}
<meta name="description" content="{{ event.description }}" />
<meta name="keywords" content="{{ event.keywords }}" />
{% endblock %}

{% block content  %}
<section class="content events">
    <div class="_header">
        <p>{{ event.title }}</p>
    </div>
    <div class="_content">
        <div class="container">
            <div class="classes_wrap text-justify">
                {% if event.image %}
                    <div class="content-image">
                        <img src="{{ event.image }}" alt="" title="" >
                    </div>
                {% endif %}
                {{ event.text|raw}}
                <br><br>
                {% if event.video %}
                <iframe src="{{ event.video }}" frameborder="0"></iframe>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock  %}